/* Base Progress Bar Layout
-------------------------------------------------- */
.onboarding-progress {
  @apply flex-row overflow-hidden py-2 px-4 gap-4 min-h-[2.5rem] top-0 right-0 overflow-x-auto dark:bg-surface-top-dark !important;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;     /* Firefox */
}

/* Scrollbar Styling
-------------------------------------------------- */
.onboarding-progress::-webkit-scrollbar {
  @apply hidden;
}

/* Progress Bar Container
-------------------------------------------------- */
.onboarding-progress::after {
  @apply content-[''] w-full;
}

/* Custom Properties
-------------------------------------------------- */
:root {
  --onboarding-translate-offset-x: -75px;
  --onboarding-translate-increment: -200px;
}

/* Figures with Plannit Scales
-------------------------------------------------- */
.figure-image-container {
  @apply flex-1 w-full;
}
.figure-images, .figure-captions {
  @apply flex items-center justify-around gap-8;
}

.figure-image-container:nth-child(1) img {
  transform: scale(1) translateX(4px);
}
.figure-image-container:nth-child(2) img {
  transform: scale(1.2) translate(8px, 8px);
}
.figure-image-container:nth-child(3) img  {
  transform: scale(.4) translate(-4px, -10px);
}

/* Collapse
-------------------------------------------------- */
.ant-collapse, .ant-collapse-header {
  @apply p-0 mb-2 border-0 inline-block relative font-sans text-sm font-light leading-relaxed !important;
  text-decoration: none !important;
}

.ant-collapse-item .ant-collapse-content  {
  @apply bg-transparent border-0 !important;
}

.ant-collapse-item .ant-collapse-content-box  {
  @apply p-0 !important;
}

.ant-collapse-expand-icon {
  @apply text-text dark:text-text-dark absolute !important;
  right: -32px !important;
}


/* Typography
-------------------------------------------------- */
.ant-steps-item-subtitle {
  @apply ml-2 font-sans text-sm tracking-wide font-bold leading-normal !important;
}

.ant-steps-item.ant-steps-item-wait .ant-steps-item-subtitle {
  @apply text-gray-200 dark:text-white dark:opacity-50 !important;
}

.ant-steps-item.ant-steps-item-wait .ant-steps-item-icon,
.ant-steps-item.ant-steps-item-active .ant-steps-item-icon {
  font-size: .85rem !important;
  font-weight: 500 !important;
}


/* Step Item Styling
-------------------------------------------------- */
.onboarding-progress .ant-steps-item {
  @apply h-[2.5rem] min-w-fit flex items-center !important;
}

.ant-steps-item-tail {
  @apply hidden !important;
}

.ant-steps-icon {
  @apply grid place-content-center text-primary dark:text-primary-dark h-8 w-8 !important;
}

.onboarding-progress .ant-steps-item-subtitle {
  @apply text-gray-500 dark:text-text-dark !important;
}

.ant-steps .ant-steps-item-container {
  @apply h-8 flex items-center !important;
}

/* Step Icons
-------------------------------------------------- */
.ant-steps-item-icon {
  @apply grid place-content-center m-0 p-0 !important;
}

.ant-steps-item-icon, .ant-steps-item-icon svg {
  @apply w-6 h-6 !important;
}

/* Step Content
-------------------------------------------------- */
.ant-steps-item-content {
  @apply place-content-center relative grid h-8;
}

/* Progress Line
-------------------------------------------------- */
.ant-steps-item-title::after {
  @apply hidden;
}

/* Active State
-------------------------------------------------- */

.ant-steps-item.ant-steps-item-active .ant-steps-item-icon {
  @apply border-transparent dark:bg-success text-white !important;
}
.ant-steps-item.ant-steps-item-active .ant-steps-item-icon .ant-steps-icon {
  @apply dark:text-black text-white !important;
}

/* Waiting State
-------------------------------------------------- */
.ant-steps-item.ant-steps-item-wait .ant-steps-item-icon .ant-steps-icon {
  @apply bg-transparent border-gray-200  grid place-content-center text-gray-200 dark:border-gray-300 dark:text-transparent dark:text-gray-300 !important;
}


/* Completed State
-------------------------------------------------- */
.ant-steps-item.ant-steps-item-finish .ant-steps-item-icon .ant-steps-icon {
  @apply dark:bg-transparent bg-gray-200 dark:text-success !important;
}
.ant-steps-item.ant-steps-item-finish .ant-steps-item-subtitle {
  @apply text-black dark:text-success opacity-75 !important;
}

/* Media Queries
-------------------------------------------------- */
@media screen and (min-width: 440px) {
}