.onboarding-progress {
  flex-direction: row !important;
  gap: 1rem;
  overflow-x: auto;
  overflow-y: hidden;
  padding: .25rem 0;
}

.onboarding-progress {
  min-height: 2.5rem;
}

.onboarding-progress .ant-steps-item-subtitle,
.ant-steps-icon {
  @apply text-text !important;
}

.onboarding-progress.progress-1 .ant-steps-item {
  transform: translateX(-0px);
}
.onboarding-progress.progress-2 .ant-steps-item {
  transform: translateX(-180px);
}
.onboarding-progress.progress-3 .ant-steps-item {
  transform: translateX(-360px);
}
.onboarding-progress.progress-4 .ant-steps-item {
  transform: translateX(-540px);
}
.onboarding-progress.progress-5 .ant-steps-item {
  transform: translateX(-720px);
}

.ant-steps .ant-steps-item-container {
  height: 1rem !important;
}

.ant-steps-item-icon {
  background-color: #00B197 !important;
  border-color: #00B197 !important;
  margin-inline-end: 4px !important;
}

.ant-steps-item-content {
  position: relative;
  padding-right: 2rem;
}

/* .ant-steps .ant-steps-item-finish > .ant-steps-item-container > .ant-steps-item-tail::after {
} */
.ant-steps-item-title::after {
  background-color: #00B197 !important;
}

.ant-steps-item-content:not(.ant-steps-item:last-child .ant-steps-item-content)::after {
  content: "";
  position: absolute;
  right: -2rem;
  top: 20%;
  height: 16px;
  width: 72px;
  background-size: contain !important;
  background-repeat: no-repeat;
  background: url(assets/horizontal-line.svg);
}

.ant-steps-item.ant-steps-item-wait .ant-steps-item-icon,
.ant-steps-item.ant-steps-item-wait .ant-steps-icon{
  background-color: transparent !important;
  border-color: #A3BEB7 !important;
  color: #A3BEB7 !important;
}
.ant-steps-item-subtitle{
  @apply font-sans font-std leading-std;
}

.ant-steps-item.ant-steps-item-wait .ant-steps-item-subtitle{
  color: #A3BEB7 !important;
}