g.nodes {
  cursor: pointer;
  pointer-events: all;
}

#vis {
  background-size: calc(100vw/12) calc(100vw/12);
  background-image:
    linear-gradient(to right, rgba(57, 57, 57, 1) 1px, transparent 1px),
    linear-gradient(to bottom, rgba(57, 57, 57, 1) 1px, transparent 1px);
}

.orbit-overlay-container {
  @apply absolute;
  width: 100%;
  bottom: 0;
}
.orbit-overlay-container {
  position: absolute;
}

.node-subgroup {
  color: #ccc;
}

.node-subgroup.checked {
  color: rgba(11, 254, 184, 1);
}

.controls-div {
  height: 15vh;
  background-color: #dddddd;
  opacity: 0.4;
  z-index: 10;
}

svg path.link {
  fill: none;
}


@media screen and (min-width: 768px) {
  .node-subgroup {
    transform: scale(2) translate(-62px, -52px);
  }
}

@media screen and (min-width: 1280px) {
  .node-subgroup {
    transform: scale(3.5) translate(-62px, -52px);
  }
}