/* Orbit Vis Label */
.orbit-label-container {
  @apply rounded-xl leading-sm relative z-10 flex flex-col gap-1 p-4 font-sans text-sm font-medium text-white transition-opacity duration-300 shadow-sm;
  @apply bg-overlay-tooltip dark:bg-overlay-tooltip;
  max-width: 75vw;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  outline: 1px solid rgba(255,255,255,0.1);
  outline-offset: -1px;

}
.orbit-label-container h2 {
  @apply flex items-center justify-between gap-4 font-semibold;
}
.orbit-label-container p {
  @apply pr-2;
}
/* Orbit Vis Label Tooltip Arrow */
.orbit-label-container::before {
  content: "";
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  
  border: 12px solid transparent;
  /* @apply border-b-secondary; */
  border-bottom-color: rgba(0,0,0, 0.8);
  left: calc(50% - 12px);
  top: -23px;
}
/* Orbit Vis Label Frequency Indicator */
.orbit-label-container .frequency-indicator-container {
  margin-top: -.1rem;
}

/* Orbit Vis Controls */
.orbit-controls-container {
  @apply flex flex-col flex-wrap w-8 gap-2;
  position: relative;
  margin-left: auto;
  top: 0;
  margin-bottom: 12px;
}


.orbit-vis {
  border-radius: 1rem;
}

@media screen and (min-width: 440px) {
  .sphere-pie svg {
    @apply -ml-2;
  }

  .sphere-pie-label {
    padding-left: 50%;
  }

  .sphere-pie .pie {
    min-width: initial;
  }
  .sphere-pie .pie {
    min-height: 18rem;
  }
}
