/* Label Typo */
.form-field label {
  @apply dark:text-title-dark font-sans font-bold !important;
  margin-bottom: 8px !important;
  font-size: 14px !important;
  line-height: 24px !important;
}

.input-icon {
  top: calc(.5rem);
  left: .5rem;
}

.toggle-switch {
  align-items: center;
}
.toggle-switch label {
  margin-bottom: 0 !important;
}

.toggle-switch + svg {
  top: 1.125rem;
  position: absolute;
  transform: scale(0.7);
}

.toggle-switch.unchecked + svg {
  right: calc(1.125rem);
  transform: scale(0.5);
  @apply text-input-text;
}

.toggle-switch.checked + svg {
  right: calc(0.125rem + 2.25rem);
}

.toggle-switch > div::after {
  @apply bg-white rounded-full;
  margin-top: 1px;
  margin-left: 1px;
}

select:not([size]) {
  background-image: url(../../assets/down-caret.svg) !important;
}

/* Labels */

span.reqd {
  @apply text-danger font-sans text-base font-medium font-bold;
}

.error-label {
  text-align: center;
}

.error-label span {
  @apply font-std text-std-input leading-std mt-1 ml-0;
}
.error-label span.warn {
  @apply text-warn;
}
.error-label span.danger {
  @apply text-danger;
}

.rounded-input {
  border-radius: 2rem !important;
}

/* Image Upload */
.avatar-container {
  @apply flex items-center w-full gap-4;
}

.avatar-container img {
  max-width: 4rem;
  max-height: 4rem;
  aspect-ratio: 1/1;
  object-fit: cover;
  border-radius: 100% !important;
}

.avatar-container > * {
  @apply cursor-pointer !important; 
}

.ant-upload {
  @apply pl-2 flex w-full justify-start items-start cursor-default !important;
}

.ant-upload.ant-upload-select {
  border: none !important;
  @apply w-full !important;
}


@media screen and (min-width: 768px) {
  .error-label {
    min-height: 2rem;
  }
}
