.vis-controls {
  @apply gap-2 bg-gradient-to-t from-menu-bg to-transparent justify-around p-2 items-end fixed right-0;
  width: 100%;
  bottom: 0;
  min-height: 8rem;
  border-radius: 1rem;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.tickbox-container {
  @apply relative;
  top: -7rem;
  right: 1rem;
}

.win-count-container, .streak-count-container {
  @apply h-24 w-1/2 m-2 p-2 bg-secondary rounded-xl grid gap-3 gap-y-1;
  grid-template-rows: 1.5rem auto;
  grid-template-columns: 1fr 1fr 1fr;
  min-width: 8rem;
}
.win-count-container .title, .streak-count-container .title {
  grid-column: 1/-1;
  @apply text-center text-white;
}
.win-count-container .title,
.streak-count-container  {
  @apply text-xs;
}

.win-count-container .ant-progress-circle, .streak-count-container .ant-progress-circle {
  @apply p-0;
  grid-column: 2/3;

}
.win-count-container .win-control {
  @apply text-xl text-primary hover:text-link;
  cursor: pointer;
  width: fit-content;
  align-self: center;
  height: fit-content;
}

.streak-count-container .streak-control-indicator,
.win-count-container .win-control-indicator {
  @apply text-white text-xs leading-loose tracking-widest m-0;
}

.win-count-container .win-control:disabled {
  @apply text-gray-200;
}

.win-count-container .win-control.minus {
  justify-self: end;
}

.streak-count-container {
  
}
.vis-move-lateral-container {
  
}
.vis-move-vertical-container {
  
}

.add-node-button {
  border-radius: 100%;
  width: 4rem;
  height: 4rem;
  background-size: contain;
  border-radius: 1.125rem;
  background-position: center;
  background-repeat: no-repeat;
  @apply border-4;
  max-width: 12.5vw;
}

.add-node-button.hide {
  pointer-events: none;
  cursor: not-allowed;
  opacity: 0.25;
}

.higher-button {
  background-image: url(../../assets/higher-scale-icon.svg);
  @apply absolute;
  top: -2.5rem;
  left: 15%;
}

.lower-button {
  margin-bottom: -0.75rem;
  background-image: url(../../assets/lower-scale-icon.svg);
  @apply absolute;
  top: -2.5rem;
  right: 15%;
}

.is-completed {
  background: transparent;
  cursor: pointer;
  animation: none;
  @apply border-2 border-transparent;
}

.is-completed.main {
  @apply w-16 h-16;
}

.is-completed.secondary {
  padding-bottom: 10px;
  opacity: 0.5;
}

.date-nav-button {
  @apply text-xl px-1 pb-1;
  transform: scaleY(2.5) scaleX(1.5);
  position: relative;
  bottom: 2rem;
}

.date-nav-button.disabled {
  @apply text-gray-200;
}

@keyframes wiggle {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(5deg);
  }
  75% {
    transform: rotate(-10deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.is-completed.checked:hover {
  animation: wiggle 0.9s cubic-bezier(0.36, 0.07, 0.19, 0.97) infinite;
}
.is-completed.unchecked:hover,
.add-node-button:hover {
  @apply border-4 border-primary;
  border-radius: 100%;
}

.date-nav-button:hover {
  transform: scaleY(calc(2.5 * 1.25)) scaleX(calc(1.5 * 1.25));
  transition: 0.2s transform ease-in;
}

.current-date-label {
  bottom: -2.5rem;
  @apply text-center relative;
}

.tickbox-label {
  line-height: 0.75rem;
  font-size: 0.75rem;
  font-weight: 300;
  width: 100%;
  bottom: -1.25rem;
  @apply font-sans absolute left-0 text-center;
}

.tickbox-label em {
  @apply font-medium;
  text-decoration: none;
}

@media screen and (min-width: 440px) {
  .vis-controls {
    @apply left-1/4 right-1/4 w-1/2;
  }

  .higher-button {
    left: 20%;
  }

  .lower-button {
    right: 20%;
  }
}
