
.vis-controls {
  @apply gap-2 bg-gradient-to-t from-menu-bg to-transparent justify-around p-2 items-end fixed right-0;
  width: 100%;
  bottom: 0;
  min-height: 8rem;
  border-radius: 1rem;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.tickbox-container {
  @apply relative;
  top: -7rem;
  right: 1rem;
}

.add-node-button {
  border-radius: 100%;
  width: 4rem;
  height: 4rem;
  background-size: contain;
  border-radius: 1.125rem;
  background-position: center;
  background-repeat: no-repeat;
  @apply border-4;
  max-width: 12.5vw;
}

.add-node-button.hide {
  pointer-events: none;
  cursor: not-allowed;
  opacity: 0.25;
}

.higher-button {
  background-image: url(../../assets/higher-scale-icon.svg);
  @apply absolute;
  top: -2.5rem;
  left: 15%;
}

.lower-button {
  margin-bottom: -.75rem;
  background-image: url(../../assets/lower-scale-icon.svg);
  @apply absolute;
  top: -2.5rem;
  right: 15%;
}

.is-completed {
  background: transparent;
  cursor: pointer;
  animation: none;
  @apply border-2 border-transparent;
}

.is-completed.main {
    @apply w-16 h-16;
}

.is-completed.secondary {
  padding-bottom: 10px;
  opacity: 0.5;
}

.date-nav-button {
  @apply text-xl px-1 pb-1;
  transform: scaleY(2.5) scaleX(1.5);
  position: relative;
  bottom: 2rem;
}

.date-nav-button.disabled {
  @apply text-gray-200
}

@keyframes wiggle {
  0% { transform: rotate(0deg); }
  25% { transform: rotate(5deg); }
  75% { transform: rotate(-10deg); }
  100% { transform: rotate(0deg); }
}

.is-completed.checked:hover {
  animation: wiggle .9s cubic-bezier(.36,.07,.19,.97) infinite;
}
.is-completed.unchecked:hover,
.add-node-button:hover  {
  @apply border-4 border-primary;
  border-radius: 100%;
}

.date-nav-button:hover {
  transform: scaleY(calc(2.5* 1.25)) scaleX(calc(1.5* 1.25));
  transition: .2s transform ease-in;
}
  
.current-date-label {
  bottom: -0.5rem;
  @apply text-center relative;
}

.tickbox-label {
  line-height: .75rem;
  font-size: .75rem;
  font-weight: 300;
  width: 100%;
  padding-right: .25rem;
  @apply font-sans absolute left-0 -bottom-2 text-center; 
}

.tickbox-label em {
  @apply font-medium; 
  text-decoration: none;
}

@media screen and (min-width: 440px) {
  .vis-controls {
    @apply left-1/4 right-1/4 w-1/2;
  }

  .higher-button {
    left: 20%;
  }

  .lower-button {
    right: 20%;
  }
}