
.vis-controls {
  @apply flex gap-2 bg-gradient-to-t from-menu-bg to-transparent justify-around p-2 mx-2 items-end fixed right-0;
  left: 60px;
  bottom: 3rem;
  width: calc(100% - 60px);
  min-height: 8rem;
  border-radius: 1rem;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.add-node-button {
  border-radius: 100%;
  height: 3rem;
  width: 3rem;
  background-size: contain;
  border-radius: 1.125rem;
  background-position: center;
  background-repeat: no-repeat;
}

.add-node-button.hide {
  pointer-events: none;
  cursor: not-allowed;
  opacity: 0.25;
}

.higher-button {
  background-image: url(../../assets/higher-scale-icon.svg);
}

.is-completed {
  background: transparent;
  cursor: pointer;
  animation: none;
  @apply border-2 border-transparent;
}

.is-completed.main {
    @apply w-16 h-16;
}

.is-completed.secondary {
  padding-bottom: 10px;
  opacity: 0.5;
}

.date-nav-button {
  @apply text-xl px-1 pb-1;
}
.date-nav-button.disabled {
  @apply text-gray-200
}

@keyframes wiggle {
  0% { transform: rotate(0deg); }
  25% { transform: rotate(5deg); }
  75% { transform: rotate(-10deg); }
  100% { transform: rotate(0deg); }
}

.is-completed.checked:hover {
  animation: wiggle .9s cubic-bezier(.36,.07,.19,.97) infinite;
}
.is-completed.unchecked:hover {
  @apply border-2 border-primary;
  border-radius: 100%;
}

.date-nav-button:hover {
  transform: scale(1.2);
  transition: .2s transform ease-in;
}
  
.current-date-label {
  bottom: -4.45rem;
  @apply text-center pr-2 relative;
}

.tickbox-label {
  line-height: .75rem;
  font-size: .75rem;
  font-weight: 300;
  width: 100%;
  padding-right: .25rem;
  @apply font-sans absolute left-0 -bottom-2 text-center; 
}

.tickbox-label em {
  @apply font-medium; 
  text-decoration: none;
}

.lower-button {
  width: 4rem;
  height: 4rem;
  margin-bottom: -.75rem;
  background-image: url(../../assets/lower-scale-icon.svg);
}

@media screen and (min-width: 440px) {
  .vis-controls {
    @apply left-1/4 right-1/4 w-1/2;
  }  
}