@tailwind base;
@tailwind components;
@tailwind utilities;

/* Layout Base
-------------------------------------------------- */
body {
  @apply m-0 flex place-items-center min-w-[320px] min-h-screen;
}

#root {
  height: 100vh;
  overflow: hidden;
}

html,
body {
  @apply dark:bg-surface-dark;
  background: radial-gradient(#2F3232, #171717);
}

.page-container.vis,
.header-action-container,
.page-container.settings {
  background: #171717
}

.page-container {
  @apply flex w-full gap-2 overflow-auto;
  height: fit-content;
  min-height: 100vh;
  flex-direction: column;
  height: 100vh;
  overflow-x: hidden;
  width: 100vw;
  z-index: 5;
  align-items: center;
}

/* Gridlines */
#vis,
.page-container.home {
  background-size: calc(100vw/12) calc(100vw/12);
  background-image:
    linear-gradient(to right, rgba(57, 57, 57, 0.5) 1px, transparent 1px),
    linear-gradient(to bottom, rgba(57, 57, 57, 0.5) 1px, transparent 1px);
}

#vis {
  background-image:
    linear-gradient(to right, rgba(146, 168, 212, 0.15) 1px, transparent 1px),
    linear-gradient(to bottom, rgba(146, 168, 212, 0.15) 1px, transparent 1px);
}


/* Disclaimer, Version Number */
.app-version-disclaimer {
  @apply right-1 top-1 fixed z-50 flex gap-2;
}

.app-version-disclaimer .version-number {
  @apply text-text dark:text-text-dark;
}

.app-version-disclaimer button {
  height: 1.5rem;
  max-width: 2rem !important;
  text-overflow: ellipsis;
}


/* Framer Motion Container */
.framer-motion {
  width: 100% !important;
  height: 100% !important;
  position: relative;
}