@font-face {
  font-family: "TTSupermolot";
  src: url("assets/fonts/TTSupermolot400.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 16px;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

.onboarding-title {
  display: flex;
  flex: 1;
  text-align: center;
  margin: 0;
  font-family: TTSupermolot, Arial, sans-serif;
  line-height: 2.2rem;
  font-weight: 400;
  @apply text-primary;
  font-size: 1rem;
}

.onboarding-subtitle {
  display: none;
  line-height: 2rem;
  font-size: 1rem;
  width: 100%;
  text-align: center;
  margin: 0;
  font-family: "Nunito", Arial, sans-serif;
}

p.form-description,
*[data-testid="modal-overlay"] > div > div h3 {
  line-height: 24px;
  font-size: 1rem;
  font-weight: 300;
  @apply font-sans;
}

*[data-testid="modal-overlay"] > div > div h3 {
  font-family: Nunito, Arial, sans-serif;
  color: white;
  margin: 1rem 0 0.5rem 0;
  @apply text-2xl;
}

*[data-testid="modal-overlay"] p {
  font-family: Nunito, Arial, sans-serif;
  color: white;
  @apply m-4 mb-2 text-xl;
}

p.form-description em,
.helper-text em {
  font-weight: medium;
  @apply text-text-prim;
}

.danger-zone .helper-content {
  @apply p-0;
}

#tooltip-right {
  @apply text-xl;
}
#tooltip-right h3 {
  @apply text-2xl;
}

@media screen and (min-width: 440px) {
  .onboarding-subtitle,
  p.form-description,
  .onboarding-progress {
    max-width: 80vw;
  }
  .onboarding-title {
    font-size: 1.5rem;
  }
  .onboarding-subtitle {
    display: block;
    line-height: 2.5rem;
    font-size: 1.5rem;
    margin: 1rem 0 0.5rem 0;
  }
  p.form-description {
    line-height: 2rem;
    font-size: 1.2rem;
  }
  p.form-description,
  *[data-testid="modal-overlay"] > div > div h3 {
    text-align: center;
  }
}

@media screen and (min-width: 1200px) {
  .onboarding-title {
    font-size: 2rem;
    line-height: 3.5rem;
    @apply mb-4;
  }
}
@media screen and (min-width: 1680px) {
  .onboarding-title {
    font-size: 2.5rem;
  }
}
