/* Root Typography Settings
-------------------------------------------------- */
:root {
  /* Font Family */
  @apply font-sans;
  font-synthesis: none;
  
  /* Base Text Settings */
  @apply text-base font-normal leading-normal;
  
  /* Color Settings */
  color-scheme: light dark;
  @apply text-text dark:text-text-dark bg-surface dark:bg-surface-dark;
  
  /* Text Rendering */
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

/* Paragraph
-------------------------------------------------- */
p {
  @apply text-text dark:text-text-dark opacity-80 mb-2 font-sans text-sm font-light leading-relaxed;
}

/* Heading
-------------------------------------------------- */
h3 {
  font-size: 1rem;
  @apply mb-2 font-medium;
}

h4 {
  font-size: 0.75rem;
  @apply mb-2;
}


/* Link Styles
-------------------------------------------------- */
a {
  @apply text-primary dark:text-accent hover:text-primary-500 dark:hover:text-accent-dark font-bold;
  text-decoration: inherit;
}

/* Component Typography
-------------------------------------------------- */
/* Onboarding Title */
.onboarding-title {
  @apply mt-6 mb-2 ml-4 font-sans text-base font-bold leading-relaxed;
  @apply text-text dark:text-text-dark;
}

/* Onboarding Content */
.onboarding-layout .content,
.create-form .content {
  @apply flex flex-col gap-6 px-4;
  overflow-y: auto;
}
.onboarding-layout .content p.form-description,
.create-form .content p.form-description {
  margin-bottom: 2px;
}

/* Accented Elements */
p.form-description em,
form em,
.ant-collapse-header-text em,
.helper-text em {
  @apply text-primary-500 dark:text-accent-dark font-medium;
}
.ant-collapse-header-text em {
  text-decoration: underline !important;
}

.danger-zone .helper-content {
  @apply p-0;
}