/* Root Typography Settings
-------------------------------------------------- */
:root {
  /* Font Family */
  @apply font-sans;
  font-synthesis: none;

  /* Base Text Settings */
  @apply text-base font-normal leading-normal;

  /* Color Settings */
  color-scheme: light dark;
  @apply text-text dark:text-text-dark bg-surface dark:bg-surface-dark;

  /* Text Rendering */
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

/* Paragraph
-------------------------------------------------- */
p,
.form-description {
  @apply text-text dark:text-text-dark opacity-80 mb-2 font-sans text-sm font-light leading-relaxed;
}

/* Heading
-------------------------------------------------- */
h3 {
  font-size: 1rem;
  @apply mb-2 font-medium;
}

h4 {
  font-size: 0.75rem;
  @apply mb-2;
}

.home-layout header h1,
.home-layout header h2 {
  @apply dark:text-text-dark text-text font-sans;
}

.home-layout header h1,
.home-layout header h2 {
  @apply px-2 text-xl font-bold leading-loose tracking-wide;
}

.home-layout header h2 {
  @apply leading-std opacity-80 mb-4 text-base font-medium;
}

/* Warning Message
-------------------------------------------------- */
.warning-message h1,
.warning-message h2 {
  @apply dark:text-text-dark text-text font-sans leading-loose text-center;
}

.warning-message h1 {
  @apply mb-2 text-lg font-bold tracking-wide;
}

.warning-message h2 {
  @apply leading-std opacity-80 text-base font-medium;
}

/* Link Styles
-------------------------------------------------- */
a {
  @apply text-text dark:text-text-dark hover:text-primary-500 dark:hover:text-accent-dark font-bold;
  text-decoration: inherit;
}

/* Component Typography
-------------------------------------------------- */
/* Onboarding Title */
.onboarding-title {
  @apply mt-6 mb-2 ml-4 font-sans text-base font-bold leading-relaxed;
  @apply text-text dark:text-text-dark;
}

/* Onboarding Content */
.onboarding-layout .content,
.create-form .content {
  @apply flex flex-col gap-2 px-4;
  overflow-y: auto;
}

.onboarding-layout .content .form-description,
.create-form .content .form-description {
  margin-bottom: 2px;
}

/* Accented Elements */
.form-description em,
form em,
.ant-collapse-header-text em,
.ant-collapse-header-text em,
p em,
.helper-text em {
  @apply text-primary-500 dark:text-accent-dark font-medium;
}

.ant-collapse-header-text em {
  text-decoration: underline !important;
}

.home-layout header em {
  @apply mx-2 text-xl font-bold opacity-100;
}

.danger-zone .helper-content {
  @apply p-0;
}