nav
  + main {
  padding-left: 72px;
}

.page-header {
  @apply
    bg-primary
    h-12
    py-2
    text-off-white
    rounded-lg
    flex
    items-center
    justify-around;

  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}