nav
  + main {
  padding-left: 72px;
}

.page-header {
  @apply
    h-12
    py-2
    text-off-white
    rounded-lg
    flex
    items-center
    justify-around;

  background: linear-gradient(180deg, rgba(27, 36, 48, 0.95) 69%, rgba(255, 255, 255, 0.15) 91%);

  border: 2px dashed white;
  border-bottom: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}