nav
  + main {
  padding-left: 72px;
}

.page-header {
  @apply
    h-12
    py-2
    text-off-white
    rounded-lg
    flex
    items-center
    justify-around;

  background: linear-gradient(180deg, rgba(85,158,120, 0.5)9%, rgba(162, 234, 196, 0.5) 91%);
  border: 2px dashed white;
  border-bottom: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}