.form-container {
  @apply py-2 px-4 text-off-white;
}

.form-container h2 {
  @apply my-2 text-off-white text-center;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1.25rem
}

.field {
  flex-direction: column;
  display: flex;
  flex-wrap: wrap;
  gap: .5rem;
}

.field label {
  @apply flex text-sm;
}

.field .error-label {
  @apply h-4 text-slate-300 text-sm pl-1 mb-2;
}
.field .error-label-text {
  @apply pl-2;
}

.field .icon-warn {
  @apply text-warn;
}
.field .icon-danger {
  @apply text-danger;
}

.field textarea, .field > label + div {
  flex: 1;
}

@media screen and (min-width: 420px) {
  .field {
      flex-wrap: nowrap;
      @apply flex-row;
  }
  .field label {
    @apply flex text-sm mb-4;
    flex-basis: 7rem;
  }
  .field .error-label {
    @apply pb-2;
  }
}