.form-container {
  @apply py-2 px-4 text-off-white relative bg-gradient-to-l to-transparent from-secondary-transparent;
  min-height: 100%;
}

.form-container h2 {
  @apply text-off-white text-center;
}

.form-title {
  @apply leading-loose text-lg tracking-wide my-0 h-6 mb-1 md:text-xl md:mb-2 md:h-8;
  text-align: left;
  font-family: 'Open Sans';
  font-weight: 600
}

form {
  display: flex;
  flex-direction: column;
  gap: 0;
}

.scene {
  position: absolute;
  bottom: .5rem;
  right: 0;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  width: 75%;
  object-fit: cover;
  opacity: 0.45;
}

.field {
  flex-direction: column;
  display: flex;
  flex-wrap: wrap;
  gap: .5rem;
}

.field.row {
  flex-direction: row;
  flex: 1 1 auto;
  justify-content: space-between;
}

.field label {
  @apply flex text-sm;
}

.field .error-label {
  @apply h-1 text-slate-300 text-sm pl-1 mb-2 text-xs text-right;
}
.field .error-label-text {
  @apply pl-2;
}

.field .icon-warn {
  @apply text-warn;
}
.field .icon-danger {
  @apply text-danger;
}

.field textarea, .field > label + div {
  flex: 1;
}

.flex-1 {
  flex: 1;
  align-items: center;
  justify-content: center;
}

span.reqd {
  @apply text-info font-bold;
}

/* Date pickers */

.ant-picker {
  background: #1e293b !important;
  border: 2px solid #64748b !important;
  min-width: 8rem !important;
}
.ant-picker .ant-picker-input > input[disabled], .ant-picker .ant-picker-input > input[disabled]::placeholder {
  padding: 0 !important;
  background: rgba(107,125,127, 0.25) !important;
  color:#475569 !important;
  cursor: not-allowed;
}

.ant-picker:active {
  background: rgb(51 65 85) !important;
}
.ant-picker:hover {
  background: #475569 !important;
}
.ant-picker:focus {
  border-color: transparent !important;
  outline-offset: 2px !important;
  outline: 2px solid #1e293b !important;
}
.ant-picker-input .ant-picker-clear{
  background: transparent !important;
  opacity: 1 !important;
  color: rgba(189, 16, 224, 0.9) !important;
}
.ant-picker-input >input {
  color: #FEFEFE !important;
}
.ant-picker-input >input::placeholder {
  padding: 1rem !important;
  font-size: 1rem !important;
  font-weight: 400 !important;
  color: #FEFEFE !important;
}

.ant-picker-suffix {
  display: none !important;
}
/* Image uploader */

.ant-upload.ant-upload-select:hover {
  background: #475569 !important;
}

.ant-upload.ant-upload-select {
  background: #1e293b !important;
  border: 2px solid #64748b !important;
  color: #FEFEFE;
  border-radius: 100%;
  overflow: auto;
}

.ant-upload-wrapper.avatar-uploader {
  justify-content: center;
  display: flex;
  align-items: center;
}

.field.sphere-image label {
  align-items: flex-start;
}

@media screen and (min-width: 420px) {
  form {
    gap: 1.25rem;
    @apply py-4 h-8;
  }
  .field {
      flex-wrap: nowrap;
      @apply flex-row;
  }
  .field label {
    @apply flex text-sm mb-6;
    flex-basis: 7rem;
  }
  .field .error-label {
    @apply pb-2 h-4 text-left;
  }
  .scene {
    position: absolute;
    bottom: 0;
    right: 0;
    /* width: 80%; */
  }
}
@media screen and (min-width: 768px) {
  .scene {
    width: 100%;
  }
}