@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .placeholder-input-std::placeholder {
    @apply text-input-placeholder leading-std text-std-input font-std !important;
  }
  .input-icon {
    @apply h-5 w-5;
    padding: 0 2px;
    /* 12 in total (10 for input) */
  }
  .input-with-icon-right input {
    padding-right: 40px;
  }
  .input-with-icon input {
    padding-left: 40px;
  }
}
