/* Base Button Styles
-------------------------------------------------- */
button.btn {
  @apply place-content-center grid h-8 text-sm font-medium leading-tight text-center rounded-lg;
  max-width: 30rem;
  color: white;
}
button.btn > div {
  @apply flex items-center transition-all duration-200;
  padding: 0 1rem;
}

/* Primary Button Variants
-------------------------------------------------- */
button.btn.btn-primary,
button.btn.btn-primary.nohover:hover {
  @apply bg-primary-500 border-primary-500 dark:bg-primary-500 dark:border-primary-500 border-2;
}

button.btn.btn-primary:not(.nohover):hover {
  @apply bg-primary text-text dark:text-text-dark border-primary dark:bg-primary-dark dark:border-primary-500;
}

/* Secondary Button Variants */
button.btn.btn-secondary,
button.btn.btn-secondary.nohover:hover {
  @apply bg-secondary-500 border-secondary-500 dark:bg-secondary-500 dark:border-secondary-500 border-2;
}

button.btn.btn-secondary:not(.nohover):hover {
  @apply bg-secondary border-secondary dark:bg-secondary-dark dark:border-secondary-500 ;
}

/* Status Button Variants
-------------------------------------------------- */
/* Warning */
.btn-warn,
.btn-warn.nohover:hover {
  @apply bg-warn text-text border-warn dark:bg-warn-500 dark:border-warn border-2;
}

.btn-warn:not(.nohover):hover {
  @apply bg-warn-500 border-warn dark:bg-warn dark:text-gray-500 dark:border-warn text-gray-500;
}

/* Danger */
.btn-danger,
.btn-danger.nohover:hover {
  @apply bg-danger text-text border-danger dark:bg-danger-500 dark:border-danger border-2;
}

.btn-danger:not(.nohover):hover {
  @apply bg-danger-500 border-danger dark:bg-danger dark:text-gray-500 dark:border-danger text-gray-500;
}

/* Neutral */
.btn-neutral,
.btn-neutral.nohover:hover {
  @apply dark:bg-gray-400 dark:text-text-dark dark:border-gray-300 text-gray-500 bg-gray-100 border-2 border-gray-200;
}

.btn-neutral:not(.nohover):hover {
  @apply dark:bg-gray-300 dark:text-text-dark dark:border-gray-300 text-gray-600 bg-gray-200 border-gray-200;
}

/* Outlined */

.btn.outlined {
  outline: 2px solid transparent;
  outline-offset: -2px;
  background: transparent;
}

.btn-primary.outlined {
  @apply outline-primary-500;
}
.btn-secondary.outlined {
  @apply outline-secondary-500;
}
.btn-neutral.outlined {
  @apply outline-gray-300;
}
.btn-warn.outlined {
  @apply outline-warn-500;
}
.btn-danger.outlined {
  @apply outline-danger-500 text-danger;
}

/* Button States
-------------------------------------------------- */
/* Disabled */
.btn:disabled,
.btn-disabled.nohover:hover {
  @apply dark:bg-gray-400 dark:text-gray-200 dark:border-gray-300 text-white bg-gray-500 dark:bg-gray-400 dark:text-gray-300 border-gray-200 pointer-events-none !important;
}

.btn:disabled:hover,
.btn:disabled:active,
.btn:disabled:focus {
  @apply text-white dark:text-white pointer-events-none  !important;
  outline: none;
}

.btn .animate-spin {
  @apply  dark:text-gray-400 fill-gray-400 dark:fill-gray-300 text-gray-200;
}

/* Focus & Active States
-------------------------------------------------- */
.focus-styles {
  @apply outline outline-1 outline-dashed outline-gray-300 dark:outline-gray-100 focus:outline focus:outline-1 focus:outline-dashed focus:outline-gray-300 dark:focus:outline-gray-100 active:outline active:outline-1 active:outline-gray-300 dark:active:outline-gray-100 focus:ring-0 focus:shadow-none  !important;
}
.active-styles {
  @apply outline-gray-500 dark:outline-gray-300 active:outline active:outline-1 active:outline-gray-300 dark:active:outline-gray-100  !important;
}
.btn:active {
  @apply active-styles;
}
.btn:focus,
.btn:focus:hover,
.card ul li button:focus:hover {
  @apply focus-styles active-styles;
}

.card ul li:only-child button:focus {
  @apply rounded-xl;
}

.list-item-danger button:hover {
  @apply text-danger dark:text-danger !important;
}

.btn.btn-danger:focus,
.btn.btn-danger:focus,
.list-item-danger button:hover:focus {
  @apply text-danger dark:text-danger !important;
}

.list-group-override button:hover, .list-group-override button:hover:focus, .list-group-override button:focus  {
  @apply focus:ring-0 focus:ring-offset-0 outline-none !important;
}
.list-group-override button:hover:focus, .list-group-override button:focus {
  @apply focus-styles !important;
}
.list-group-override button:hover:active, .list-group-override button:active {
  @apply active-styles !important;
} 

/* Icon Button Variants
-------------------------------------------------- */
.btn.btn-icon, .input-with-icon-right, .input-with-icon, .btn-info {
  @apply text-text dark:text-text-dark;
}

.btn-info {
  @apply flex justify-between w-4 h-4 gap-2;
}

.btn.btn-icon {
  @apply bg-surface dark:bg-surface-dark w-8 h-8 border-0;
}
.btn.btn-circle-icon {
  @apply text-title dark:text-title-dark w-8 h-8 border-0;
}
.btn.btn-circle-icon-lg {
  @apply text-title dark:text-title-dark w-12 h-12 border-0 rounded-full;
}
.btn.btn-circle-icon, .btn.btn-circle-icon > div {
  @apply rounded-full;
}
.btn.btn-icon svg, .btn.btn-circle-icon svg{ 
  @apply w-4 h-4;
}

.btn.btn-icon:hover {
  @apply dark:bg-gray-300 bg-gray-200 border-0;
}

.btn.btn-circle-icon:hover {
  @apply bg-primary-500 dark:bg-primary-500 border-0;
}


button.btn.btn-danger.outlined {
  @apply outline-1 dark:outline-gray-300 dark:text-danger bg-danger border-danger dark:bg-transparent;
}


/* Icon Styling
-------------------------------------------------- */
.btn .icon {
  @apply flex justify-end w-8 h-8 mr-2;
}

.btn.btn-icon .icon {
  @apply m-0;
}

/* Responsive Button Styles
-------------------------------------------------- */
.btn.responsive {
  @apply w-full h-auto text-base font-bold tracking-wide rounded-full;
}

.btn.responsive span[role="img"],
.btn.responsive svg[role="img"] {
  @apply m-0-sm justify-center;
}

.btn.responsive span[role="img"]+span {
  @apply hidden-sm;
}
.btn.responsive > div {
  min-height: 2rem;
}

/* Special Button Types
-------------------------------------------------- */
/* Onboarding Button */
.btn-onboarding {
  @apply bg-primary text-text hover:bg-primary-500 hover:text-text dark:bg-primary-dark dark:text-text-dark dark:hover:bg-primary-500 dark:hover:text-text-dark w-full mt-4 font-sans font-normal leading-normal border-0;
}

/* Dropdown Button Overrides
-------------------------------------------------- */
*[data-testid="flowbite-popover-arrow"] {
  @apply hidden !important;
}

button[data-testid="flowbite-dropdown-target"] {
  @apply bg-primary border-primary dark:bg-primary-500 dark:border-primary-500 border-2;
}

button[data-testid="flowbite-dropdown-target"]:hover:enabled,
button[data-testid="flowbite-dropdown-target"] span:hover:enabled {
  @apply bg-primary-500 dark:bg-primary-dark;
}

button[data-testid="flowbite-dropdown-target"]:active {
  @apply outline-none;
}

div[data-testid="flowbite-dropdown"] {
  @apply bg-surface border-primary dark:bg-secondary-dark dark:border-primary-500 overflow-hidden border-2 rounded-lg;
}

div[data-testid="flowbite-dropdown"] button {
  @apply text-text dark:text-text-dark;
}

/* Media Queries
-------------------------------------------------- */
@media screen and (min-width: 1200px) {
  .btn-icon .icon {
    @apply w-12 h-12;
  }
}

@media screen and (min-width: 1680px) {
  .btn-icon .icon {
    @apply w-16 h-16;
  }
}