

.btn-primary, .btn-primary.nohover:hover {
  @apply bg-primary text-white border-primary-500 border-2;
}
.btn-primary:not(.nohover):hover {
  @apply text-white bg-primary-500 border-primary-500 !important;
}
.btn-secondary, .btn-secondary.nohover:hover {
  @apply bg-secondary border-primary-500 border-2;
}
.btn-secondary:not(.nohover):hover {
  @apply text-white bg-secondary-500 border-primary !important;
}
.btn-warn, .btn-warn.nohover:hover {
  @apply bg-warn-500 border-warn border-2;
}
.btn-warn:not(.nohover):hover {
  @apply text-gray-500 bg-warn border-warn !important;
}
.btn-danger, .btn-danger.nohover:hover {
  @apply bg-danger-500 border-danger border-2;
}
.btn-danger:not(.nohover):hover {
  @apply text-gray-500 bg-danger border-danger !important;
}
.btn-neutral, .btn-neutral.nohover:hover {
  @apply bg-gray-100 text-gray-400 border-gray-200 border-2;
}
.btn-neutral:not(.nohover):hover {
  @apply bg-gray-200 text-white border-gray-200 !important;
}
.btn:disabled, .btn-disabled.nohover:hover {
  color: #505554 !important;
  background: #909896 !important;
  border-width: 1px;
  border-color: #505554 !important;
  pointer-events: auto !important;
}
.btn:disabled:hover {
  pointer-events: auto !important;
  color: #505554 !important;
  background: #909896 !important;
  border-color: #37383a !important;
}
.btn:active {
  outline: 1px solid #2d3436;
}
.btn:focus {
  outline: 1px dashed #2d3436;
}


/* Override dropdown button/menu */
button[data-testid="flowbite-dropdown-target"]:hover:enabled, button[data-testid="flowbite-dropdown-target"] span:hover:enabled {
  @apply bg-primary;
}
button[data-testid="flowbite-dropdown-target"]:active {
  outline: none !important;
}
button[data-testid="flowbite-dropdown-target"] {
  @apply bg-primary-500 border-primary-500 border-2;
}
div[data-testid="flowbite-dropdown"] {
  @apply bg-secondary border-primary-500 border-2 overflow-hidden rounded-lg;
}
div[data-testid="flowbite-dropdown"] button {
  @apply text-white;
}

/* Override for delete/edit actions */
.orbit-actions-crud div[data-testid="flowbite-dropdown"] li:first-child button {
  @apply bg-warn-500 border-warn border-0 rounded-none;
}
.orbit-actions-crud div[data-testid="flowbite-dropdown"] li:first-child button:hover {
  @apply text-gray-500 bg-warn border-warn !important;
}
.orbit-actions-crud div[data-testid="flowbite-dropdown"] li:last-child button {
  @apply bg-danger-500 border-danger border-0 rounded-none;
}
.orbit-actions-crud div[data-testid="flowbite-dropdown"] li:last-child:hover {
  @apply text-gray-500 bg-danger border-danger !important;
}

.btn span[role="img"] {
  @apply border-0 bg-transparent;
}

/* Hide icon test on smaller viewports */
.btn.responsive span[role="img"] {
  @apply m-0-sm;
}
.btn.responsive span[role="img"] + span {
  @apply hidden-sm;
}

/* Icon only button */
.btn.btn-icon {
  @apply 
    h-8 w-8 bg-bg border-0;
}

.btn.btn-icon:hover {
  @apply bg-gray-400 border-0;
}

.btn.btn-icon {
  @apply 
    h-8 w-8 bg-bg text-white;
}

.btn .icon {
  @apply h-8 w-8 mr-2;
}

.btn.btn-icon .icon {
  @apply m-0;
}

/* Upload image button */

.upload-img-btn:hover {
  @apply opacity-100;
}
.upload-img-btn {
  top: 0.425rem;
  left: -1rem;
  position: relative;
}

/* Onboarding submit button */

.btn-onboarding {
  @apply w-full mt-4 border-0 text-bg font-sans font-medium leading-std hover:text-secondary !important;
  background: rgb(162,234,196);
  background: linear-gradient(90deg, rgba(162,234,196,1) 50%, rgba(0,177,151,1) 100%);
}
.btn-onboarding:hover {
  @apply text-gray-500 !important;
  background: rgba(162,234,196, 0.8);
  background: linear-gradient(90deg, rgba(162,234,196,0.8) 50%, rgba(0,177,151,0.8) 100%);
}
