.helper-text {
  font-size: 14px !important;
  @apply text-text dark:text-text-dark leading-std text-input-text flex justify-center w-full gap-4 mt-2 font-sans text-xs font-medium font-semibold;
}

.onboarding-layout .helper-text {
  @apply justify-center;
}
.orbit-subdivision-list .helper-text {
  @apply justify-start;
}

span.helper-content,
.toast-text {
  line-height: 24px;
  font-size: 1em;
  font-weight: light;
  @apply mb-2 font-sans font-light;
}
.toast-text {
  @apply mx-8 text-xl font-normal text-white;
}

.flowbite-toast {
  min-width: 25vw;
  z-index: 150;
}