/* System Calendar Card */
.system-calendar-card {
  @apply text-text dark:text-text-dark dark:bg-surface-dark rounded-3xl relative p-4 pb-24 bg-gray-300;
}
.system-calendar-card header {
  @apply flex items-center gap-3;
}
.system-calendar-card footer {
  @apply dark:bg-surface-top-dark-500 rounded-3xl absolute inset-x-0 bottom-0 flex h-20 gap-2 p-4 rounded-t-none;
}

/* System Calendar Card Typo */
.system-calendar-card h1.card-name {
  @apply font-sans text-lg font-bold; 
}

/* Plannit Calendar Card */
.plannit-card {
  @apply text-text dark:text-text-dark dark:bg-surface-overlay-dark rounded-xl relative flex flex-col gap-2 p-4 pb-12 bg-gray-300;
}
.plannit-card *:not(button) {
  cursor-event: none;
}

.plannit-card div[data-testid="flowbite-popover"] {
  position: absolute !important;
  right: 9rem !important;
  top: -.5rem !important;
  left: initial !important;
}


.plannit-card ul.list-none {
  width: 6rem;
}

.plannit-card header {
  @apply flex items-center gap-3;
}
.plannit-card-title {
  @apply flex items-center justify-start w-full gap-2;
}
.plannit-card-title .plannit-scale-image {
  @apply flex flex-1;
}
.plannit-card-title .card-name {
  display: flex;
  flex: 4;
}
.plannit-card header img {
  @apply w-full h-auto !important;
  max-width: initial !important;
  transform: initial !important;
}
.plannit-card-title .plannit-scale-image.sub {
  @apply m-1 my-2;
}
.plannit-card-title .plannit-scale-image.sub img {
  transform: scale(2) translate(0px, 3px) !important;
}
.plannit-card-title .plannit-scale-image.atom img {
  transform: scale(0.8) !important;
}

.plannit-card section.stats > div {
  @apply flex items-center justify-between;
  border-top: 1px solid rgba(255,255,255,0.1);
  padding: .5rem 0;
}

.plannit-card footer {
  @apply dark:bg-surface-elevated-dark rounded-xl absolute inset-x-0 bottom-0 flex h-10 gap-2 px-4 py-3 text-sm rounded-t-none;
}

/* Plannit Calendar Card Typo */
.plannit-card section.stats {
  @apply dark:text-text-dark flex flex-col font-sans text-base font-bold;
}
