.orbit-vis {
  border: 2px dashed #E6E8E6;
  border-radius: 16px;
  padding: 8px;
}

label {
  @apply font-sans uppercase text-xs;
  color: #E6E8E6;
}

div[role="progressbar"] > div > div {
  @apply bg-primary;
}
div[role="progressbar"] > div.sub > div {
  margin-left: 0;
}
div[role="progressbar"] > div.atomic > div {
  margin-left: 23%;
}
div[role="progressbar"] > div.astro > div {
  margin-left: 58%;
}