/* Modal Overlay - Base container */
[data-testid="modal-overlay"] {
  @apply md:inset-0 md:h-full dark:bg-opacity-80 fixed inset-x-0 top-0 z-50 flex items-center justify-center h-screen overflow-x-hidden overflow-y-auto bg-black bg-opacity-50;
}

/* Modal Content Container */
[data-testid="modal-overlay"] > div {
  @apply relative w-full md:h-auto max-w-lg h-[90vh];
}

/* Modal Content Container Account for Footer positioning */
[data-testid="modal-overlay"] > div:nth-child(2) div.overflow-auto:nth-child(2):not(.hide-footer)  {
  @apply mb-16;
}

/* Modal Inner Container */
[data-testid="modal-overlay"] > div > div {
  @apply relative dark:bg-surface-elevated-dark flex max-h-[90dvh] min-h-[70dvh] flex-col rounded-2xl;
  overflow: hidden;
}


/* Small Modal Content Container */
[data-testid="modal-overlay"] > div:has(div > div.sm.flex-1) {
  margin-top: -4rem;
  place-content: center;
  display: grid;
}
/* Small Modal Inner Container */
[data-testid="modal-overlay"] > div > div:has(div.sm.flex-1) {
  min-height: 33vh;
  max-height: 50vh;
}
/* Small Modal Content */
[data-testid="modal-overlay"] > div > div > div.sm.flex-1 {
  @apply mb-0;
}

/* Modal Inner Container Paragraph */
[data-testid="modal-overlay"] > div > div p {
  @apply text-opacity-70 w-full pr-4 font-medium text-white;
  /* leading-std font-lg */
}

/* Modal Header Title Padding override */
[data-testid="modal-overlay"] h3 {
  padding-right: 2rem !important;
  margin-bottom: 0;
}

/* Modal Header No Title override */
[data-testid="modal-overlay"] .hide-title {
  padding: 0 !important;
}

/* Close Button */
[data-testid="modal-overlay"] button[aria-label="Close"] {
  @apply rounded-xl hover:bg-gray-200 hover:text-gray-900 dark:hover:bg-gray-600 dark:hover:text-white absolute items-center p-1 ml-auto text-white;
  top: 1.25rem;
  right: 1rem;
}