nav.side-nav:not(.collapsed-vertical) {
  @apply bg-dark-gray fixed inset-y-0 left-0 z-10 h-full flex justify-between flex-col;
  /* transition: 1s all ease-in; */
}
nav.side-nav.collaped-vertical {
  height: auto;
  top: initial;
  gap: 0.5rem;
  /* transition: 1s all ease-in; */
  background: transparent;
  border-radius: 1rem;
  border-bottom: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
nav.side-nav.collaped-vertical ul[role="menu"] {
  border-radius: 1rem;
}

nav.side-nav.collaped-vertical + .page-container .sphere-card.list-header button.add-orbit,
nav.side-nav.collaped-vertical + .page-container .form-container .field:nth-child(3),
nav.side-nav.collaped-vertical + .page-container .form-container .field:nth-child(4),
nav.side-nav.collaped-vertical + .page-container .form-container .field:nth-child(5),
nav.side-nav.collaped-vertical + .page-container .form-container .field:nth-child(6),
nav.side-nav.collaped-vertical + .page-container .form-container .field:nth-child(7),
nav.side-nav.collaped-vertical + .page-container .form-container button[type="submit"] {
    width: 80%;
    align-self: end;
}

nav.side-nav.collaped-vertical + .page-container .sphere-card.list-header button.add-orbit {
  width: calc(100% - 72px)
}

.logo-div {
  height: 3rem;
  overflow: hidden;
  padding-top: 0.75rem;
}

/* Vertical collapse button */
.toggle-vertical-collapse {
  @apply bg-transparent border-0 text-off-white text-sm h-10;
}
.toggle-vertical-collapse  span[role="img"]{
  transform: rotate(-45deg) scale(1.25);
}
.toggle-vertical-collapse span[role="img"].collapsed {
  transform: rotate(-45deg) scale(2);
}
.toggle-vertical-collapse:focus {
  @apply ring-0 outline-0;
}
.toggle-vertical-collapse:hover {
  border-color: rgba(80, 227, 194, 0.9) !important;
  @apply bg-neutral-transparent text-off-white;
  border: 1px solid rgba(80, 227, 194, 0.9);
}
.toggle-vertical-collapse:active {
  background: rgba(155, 89, 182, 0.5);
  color: #FDFEFE;
}

.page-header {
  @apply
    h-12
    py-2
    text-off-white
    rounded-lg
    flex
    items-center
    justify-around
    bg-gradient-to-b
    from-card-bg
    to-card-bg-light
    text-base;
  outline: 2px solid rgba(107,125,127, 0.25);
  border-bottom: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.page-header h1{
  @apply text-lg;
}

.main-actions-menu {
  @apply flex flex-col overflow-hidden items-center mb-4 gap-2;
  border-radius: 1rem;
}

ul[role="menu"] {
  @apply bg-nav-bg text-off-white;
  border-bottom-left-radius: 1.125rem;
  border-bottom-right-radius: 1.125rem;
}
ul[role="menu"] li:hover {
  @apply bg-nav-bg text-info;
}
ul[role="menu"] .ant-menu-submenu-selected >.ant-menu-submenu-title {
  @apply text-info;
}

.ant-menu-submenu.ant-menu-submenu-vertical {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}
.ant-menu span[role="img"] {
  /* icon */
  font-size: 1.5rem !important;
  color:rgba(80, 227, 194, 0.8) !important;
  margin-left: -.25rem !important;
  box-shadow: 2px 4px 18px rgba(54, 25, 91, .5) !important;
}
.ant-menu-item:hover span[role="img"] {
  color: rgba(80, 227, 194, 1) !important;
}
.ant-menu .ant-menu-item-selected span[role="img"] {
  box-shadow: initial !important;
}

nav > .ant-menu:first-child .ant-menu-item:last-child {
  margin-left: 0.3rem;
  margin-top: 0.25rem;
}

nav > .ant-menu .ant-menu-item[role="menuitem"], .ant-menu-item.ant-menu-item-selected , .ant-menu-item:active {
  transition: .5s all cubic-bezier(1, .3, .3, 1);
  border-radius: 1rem !important;
  /* @apply text-white; */
}
.ant-menu-item:active {
  background: rgba(155, 89, 182, 0.5) !important;
}

.ant-menu-item:hover {
  color:rgba(80, 227, 194, 1) !important;
}

/* Theme toggle button */
button[data-testid="dark-theme-toggle"]:focus {
  @apply ring-0;
}
button[data-testid="dark-theme-toggle"]:hover {
  border-color: rgba(80, 227, 194, 0.9) !important;
  background-color: #FEFEFE;
  color: rgba(80, 227, 194, 0.8) !important;
}
button[data-testid="dark-theme-toggle"]:active {
  background: rgba(155, 89, 182, 0.5);
  color: #FDFEFE;
}
button[data-testid="dark-theme-toggle"] svg {
  margin-left: .125rem !important;
}

.ant-tooltip-inner, .ant-tooltip-arrow::before {
  background-color: #50e3c2 !important;
  color: black !important;
  opacity: 0.8;
}

.ant-menu-submenu-title[role="menuitem"] {
  height: 3rem !important;
  border-radius: 100%;
  margin: 8px !important;
  padding: 0 !important;
  transition: .5s all ease-in;
  width: 3rem;
}

.ant-menu-submenu-popup {
  background-color: #222 !important;
}
.ant-menu-submenu-popup .ant-menu {
  background:  linear-gradient(-90deg, #6B7D7F 0%, rgba(0,212,255,0) 100%) !important;
}
.ant-menu-submenu-popup .ant-menu .ant-menu-title-content, .ant-menu-item-group-title{
  color: #fefefe !important;
}
.ant-menu-submenu-popup:hover .ant-menu-item-group, .ant-menu-item-group-title:hover{
  background-color: rgba(54, 25, 91, 0.25) !important;
  color: white !important;
  cursor: pointer;
}

.ant-menu-submenu-open .ant-menu-submenu-title[role="menuitem"] {
  @apply bg-secondary-transparent;
  transition: .5s all ease-in;
  width: initial;
  border-radius: 1rem;
}

.ant-menu-item-selected {
  background: rgba(80, 227, 194, 0.4) !important;
}
.ant-menu-item-selected span[role="img"] {
  /* icon selected */
  color: rgba(80, 227, 194, 0.9) !important;
  
}
.ant-menu-title-content {
  margin-top: .25rem;
}
.ant-menu-item-selected .ant-menu-title-content {
  color: #FEFEFE !important;
}
/* Expanded Nav */
ul.ant-menu-inline .ant-menu-submenu-title[role="menuitem"] img{
  transition: .3s all cubic-bezier(1, 0.13, 0.13, 1);
  width: 3rem;
  border-radius: 100%;
}

ul.ant-menu-inline .ant-menu-submenu-open .ant-menu-submenu-title[role="menuitem"] img{
  border-radius: 12px;
}
ul.ant-menu-inline .ant-menu-submenu-title[role="menuitem"] span {
  color: #dadce0 !important;
}
ul.ant-menu-inline .ant-menu-submenu-title[role="menuitem"] .ant-menu-submenu-arrow{
  right: 1rem;
  left: initial;
  @apply text-primary;
}
ul.ant-menu-inline .ant-menu-submenu-title[role="menuitem"]:active {
  @apply bg-secondary-transparent;
}
ul.ant-menu-inline .ant-menu-submenu-title[role="menuitem"] {
  overflow: initial;
  width: initial;
}


@media screen and (min-width: 420px) {
  .page-header h1 {
    @apply text-2xl
  }
}

@media screen and (min-width: 768px) {
  .page-header h1 {
    @apply text-3xl
  }
}
@media screen and (min-width: 1200px) {
  .page-header h1 {
    @apply text-4xl
  }
}