@tailwind base;
@tailwind components;
@tailwind utilities;

.placeholder-input-std::placeholder {
  @apply text-input-placeholder text-std-input font-std text-base font-sans !important;
}

.input-icon {
  @apply h-5 w-5;
  padding: 0 2px; 
  /* 12 in total (10 for input) */
}

.input-with-icon-right input{
  padding-right: 40px;
}

.input-with-icon input{
  padding-left: 40px;
}

#root {
  @apply bg-gray-500;
  display: grid;
  width: 100vw;
  height: 100vh;
  place-content: flex-start;
}

.page-container {
  @apply flex flex-col gap-2 bg-bg overflow-auto p-2 w-full;
  height: 100vh;
  overflow-x: hidden;
  min-width: 100vw;
  z-index: 5;
}

.page-container.home {
  background: linear-gradient(170.28deg, #1B231E -9.44%, #0D120E 100%)  ;
  position: relative;
}

div#root::before, div#root::after {
  position: absolute;
  content: "";
  top: 45vh;
  height: 50%;
  background-size: cover;
  opacity: 0.45;
  width: 50vw;
  z-index: 0;
}

div#root::before {
  left: 2rem;
  background: url(assets/HAB.svg) top left no-repeat;
}
div#root::after {
  right: 2rem;
  background: url(assets/FRACT.svg) top right no-repeat;
}

nav + main.page-container .sphere-card .row-c-around {
  align-items: flex-start;
}

nav + main.page-container .sphere-card .row-c-around .sphere-actions {
  flex-direction: row;
  padding: 0;
  margin: 0;
}

nav + main.page-container .sphere-card .row-c-around .sphere-actions button {
  height: 3rem;
}


nav + main.page-container .sphere-card .row-c-around #pie-chart {
  padding-left: 25%;
}

nav + main.page-container .sphere-card.list-header {
  width: 100%;
}

nav + main.page-container .orbits-list {
  padding-left: 72px;
      
}

.full-spinner {
  position: fixed;
  height: 6rem;
  width: 6rem;
  left: calc(50vw - 3rem);
  top: calc(50vh - 3rem);
  animation: spin 2s linear infinite;
  @apply text-line fill-primary;
}

@media screen and (min-width: 440px) {
  #root {
    grid-template-columns: 10% 80% 10%;
    place-content: center;
  }

  .page-container {
    grid-column: 2/3;
    grid-row: 1/-1;
    border-radius: 1rem;
    @apply p-6 h-full;
  }
}

@media screen and (min-width: 768px) {
  #root {
    grid-template-columns: 20% 60% 20%;
  }

  .page-container {
    min-width: calc(50vw - 6rem);
    @apply p-8;
  }
}
@media screen and (min-width: 1200px) {
  #root {
    grid-template-columns: 30% 40% 30%;
  }
  .page-container {
    @apply p-12;
  }
}
