@tailwind base;
@tailwind components;
@tailwind utilities;


#root {
  @apply bg-dark-gray;
  --onboarding-progress-bar-height: 48px  ;
}

.page-container {
  @apply bg-dark-gray overflow-auto fixed w-full h-full inset-y-0 left-0;
}


nav + main.page-container.nav-collapsed {
  padding-left: 0 !important;
}

nav + main.page-container:not(.nav-collapsed) {
  padding-left: 72px;
}

.onboarding-page {
  padding-top: var(--onboarding-progress-bar-height);
  padding-bottom: var(--onboarding-progress-bar-height);
}

.onboarding-progress {
  background: white;
  position: fixed;
  height: var(--onboarding-progress-bar-height);
  bottom: 0;
  left: 0;
  right: 0;
  flex-direction: row !important;
}