@tailwind base;
@tailwind components;
@tailwind utilities;

.placeholder-input-std::placeholder {
  @apply text-input-placeholder text-std-input font-std text-base font-sans !important;
}

.input-icon {
  @apply h-5 w-5;
  padding: 0 2px; 
  /* 12 in total (10 for input) */
}
.input-with-icon-right input{
  padding-right: 40px;
}
.input-with-icon input{
  padding-left: 40px;
}

#root {
  @apply bg-gray-500;
  --onboarding-progress-bar-height: 48px;
}

.page-container {
  @apply bg-bg overflow-auto fixed w-full h-full inset-y-0 left-0 p-2;
  overflow-x: hidden;
}

nav + main.page-container .sphere-card .row-c-around {
  align-items: flex-start;
}
nav + main.page-container .sphere-card .row-c-around .sphere-actions {
  flex-direction: row;
  padding: 0;
  margin: 0;
}
nav + main.page-container .sphere-card .row-c-around .sphere-actions button {
  height: 3rem;
}


nav + main.page-container .sphere-card .row-c-around #pie-chart {
  padding-left: 25%;
}

nav + main.page-container .sphere-card.list-header {
  width: 100%;
}
nav + main.page-container .orbits-list {
  padding-left: 72px;
      
}

.full-spinner {
  position: fixed;
  height: 6rem;
  width: 6rem;
  left: calc(50vw - 3rem);
  top: calc(50vh - 3rem);
  animation: spin 2s linear infinite;
  @apply text-line fill-primary;
}

.onboarding-page {
  
}