/* Home (New User) */

.home-layout {
  --vertical-section-spacing: 2rem;
  @apply flex justify-around w-full h-full;
}

.home-layout .logo {
  @apply w-64 pl-2 mb-2;
}

.home-layout h3 {
  @apply font-std leading-std text-text dark:text-text-dark font-sans text-base opacity-75;
}

.home-layout .welcome-cta {
  width: 100%;
  min-height: 12rem;
  max-height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  padding-top: var(--vertical-section-spacing);
}

.home-layout .login-options {
  height: calc(70vh - var(--vertical-section-spacing));
  @apply dark:bg-surface-elevated-dark rounded-3xl absolute bottom-0 flex flex-col w-full gap-2 px-4 py-6 rounded-b-none; 
}

.disclaimer {
  white-space: pre-line;
}

.version-number {
  position: relative;
  bottom: -0.75rem;
  @apply flex items-center justify-center h-2;
}


/* Onboarding */

.onboarding-layout,
.onboarding-layout .container {
  width: 100%;
}

.onboarding-layout .content {
  @apply flex flex-col justify-between w-full gap-2 p-2;
  overflow-y: auto;
}

/* Home (Returning User) */

/* Vis */
.vis-layout {
  padding-top: 64px;
}
.vis-layout .header-action {
  @apply fixed inset-x-0 top-0;
  z-index: 100;
}