/* Home (New User) */

.home-layout {
  --vertical-section-spacing: 4rem;
  @apply flex justify-around w-full h-full;
}

.home-layout .welcome-cta .logo {
  @apply w-64 pl-2 mb-2;
}

.home-layout .welcome-cta,
.home-layout .returning-cta {
  width: 100%;
  display: flex;
  gap: 1rem;
  flex-direction: column;
}

.home-layout .welcome-cta {
  justify-content: center;
  align-items: center;
  gap: 1rem;
  height: 35vh;
  padding-top: var(--vertical-section-spacing);
}

.home-layout .avatar-menu button {
  @apply w-full h-12 cursor-pointer;
}
.home-layout .avatar-menu button div {
  @apply p-0;
}

.home-layout .login-options, .home-layout .spaces-tab {
  height: calc(65vh - var(--vertical-section-spacing));
  border-radius: 1.5rem;
  @apply dark:bg-surface-top-dark absolute bottom-0 flex flex-col w-full gap-2 px-4 py-6 rounded-b-none; 
}

.home-layout .spaces-tab {
  @apply pt-0;
}

.home-layout .spaces-tab {
  position: relative;
  height: 100vh;
  @apply px-1;
}

.home-layout .swipe-up-tab-container {
  position: absolute;
  top: 1rem;
  padding: 0;
  background-color: transparent;
}

.form-layout, .list-layout, .settings-layout {
  height: 100%;
  width: 100%;
}


/* Home (Returning User) */

.home-layout .returning-cta .logo {
  @apply w-auto h-12 p-0 pt-2 my-2;
}

.home-layout .returning-cta .logo {
  @apply m-0;
}

.home-layout .returning-cta {
  @apply gap-1 px-4 mt-4;
  height: 45vh;
}

.home-layout .returning-cta > div {
  @apply flex items-center justify-between;
}

.home-layout form {
  justify-content: space-around;
  height: 100%;
  padding: 0 1rem;
  display: flex;
}

/* Settings */

.settings-layout, .settings-layout section {
  @apply flex flex-col w-full gap-4 p-2 bg-transparent;
}

.settings-layout {
  @apply gap-0 pb-20 overflow-auto;
}

.create-form .form-layout .content {
  @apply bg-surface-elevated dark:bg-gradient-to-tl dark:to-surface-overlay-dark dark:from-surface-elevated-dark rounded-2xl mx-4 py-4
}

.confirmation-message {
  white-space: pre-line;
}

.version-number {
  position: relative;
  bottom: -0.75rem;
  @apply flex items-center justify-center h-2;
}


/* List */

.list.page-container {
  margin-top: 0 !important;
  height: fit-content;
  display: flex;
  position: fixed;
  top: 64px;
}

/* Vis */

#vis-root {
  width: 100%;
}

.page-container.vis,
.page-container.vis>div:last-child {
  overflow: hidden;
}


/* Onboarding */

.onboarding-layout,
.onboarding-layout .container {
  width: 100%;
}
.onboarding-layout form {
  margin-bottom: 4rem;
}

.onboarding-continue {
  @apply w-[100vw] p-4 dark:bg-surface-top-dark-500 fixed inset-x-0 bottom-0 flex bg-gray-200;
  height: 5rem;
}


/* Header Popover Positioning */
/* -- Home */
.home-layout header div[data-testid="flowbite-popover"] {
  left: initial !important;
  right: 12rem !important;
  top: 1rem !important;
  transform: none !important;
}
/* -- Vis */
.vis-layout .header-action-container div[role="dialog"] {
  left: calc(100% - 15.25rem) !important;
  top: 0 !important;
  transform: none !important;
}

/* Header Positioning */
.page-container:not(*.home):not(.onboarding) {
  margin-top: 64px;
}

.header-action {
  @apply fixed inset-x-0 top-0;
  z-index: 10;
}

/* Nav Visibility (fallback) */
.home .side-nav, .list.page-container .side-nav, .create-form.page-container .side-nav{
  @apply hidden;
}