/* Home (New User) */

.home-layout {
  --vertical-section-spacing: 4rem;
  @apply flex justify-around w-full h-full;
}

.home-layout .welcome-cta .logo {
  @apply w-64 pl-2 mb-2;
}

.home-layout .returning-cta .logo {
  @apply w-auto h-12 p-0 pt-2 my-2;
}
.home-layout .welcome-cta,
.home-layout .returning-cta {
  width: 100%;
  min-height: 12rem;
  display: flex;
  gap: 1rem;
  flex-direction: column;
}

.home-layout .welcome-cta {
  justify-content: center;
  align-items: center;
  gap: 1rem;
  max-height: 35vh;
  padding-top: var(--vertical-section-spacing);
}

.home-layout .avatar-placeholder {
  @apply w-12 h-12;
}

.home-layout .returning-cta .logo {
  @apply m-0;
}

.home-layout .returning-cta {
  @apply gap-4 px-4 mt-4;
  max-height: 25vh;
}

.home-layout .returning-cta > div {
  @apply flex items-center justify-between;
}

.home-layout .login-options, .home-layout .spaces-tab {
  height: calc(65vh - var(--vertical-section-spacing));
  @apply dark:bg-surface-top-dark rounded-3xl absolute bottom-0 flex flex-col w-full gap-2 px-4 py-6 rounded-b-none; 
}

.home-layout .spaces-tab {
  position: relative;
  height: 100vh;
  @apply px-1;
}

.home-layout .swipe-up-tab-container {
  position: absolute;
  top: 1rem;
  padding: 0;
  background-color: transparent;
}

.form-layout, .list-layout {
  height: 100%;
  width: 100%;
}

.create-form .form-layout .content {
  @apply bg-surface-elevated dark:bg-surface-elevated-dark rounded-2xl m-4 py-4
}

.disclaimer {
  white-space: pre-line;
}

.version-number {
  position: relative;
  bottom: -0.75rem;
  @apply flex items-center justify-center h-2;
}


/* Onboarding */

.onboarding-layout,
.onboarding-layout .container {
  width: 100%;
}

.onboarding-continue {
  @apply w-[100vw] dark:bg-surface-top-dark place-content-center inset-x-0 bottom-0 flex grid p-4 bg-gray-200;
}

/* Home (Returning User) */

/* Header Positioning */
.page-container:not(*.home):not(.onboarding) {
  margin-top: 64px;
}

.header-action {
  @apply fixed inset-x-0 top-0;
  z-index: 10;
}

.list.page-container {
  margin-top: 0 !important;
  height: fit-content;
  display: flex;
  position: fixed;
  top: 64px;
}

.home .side-nav, .list.page-container .side-nav{
  @apply hidden;
}