@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Spinners */
.full-spinner, .card-spinner {
  display: grid;
  place-content: center;
}
.full-spinner img, .card-spinner img {
  animation: rotateY 2.5s infinite linear;
  opacity: 0.8;
}
.full-spinner, .full-spinner img {
  width: 6rem;
  height: 6rem;
}
.card-spinner, .card-spinner img {
  width: 4rem;
  height: 4rem;
}

@keyframes rotateY {
  to { transform: rotateY(360deg) }
}

.full-spinner {
  position: fixed;
  left: calc(50vw - 3rem);
  top: calc(50vh - 3rem);
}

.card-spinner {
  position: absolute;
  left: calc(50% - 2rem);
  top: calc(50% - 2rem);
}