@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


.full-spinner, .card-spinner {
  display: grid;
  place-content: center;
  height: 6rem;
  width: 6rem;
}

.full-spinner {
  position: fixed;
  left: calc(50vw - 3rem);
  top: calc(50vh - 3rem);
  animation: spin 2s linear infinite;
  @apply fill-primary dark:fill-primary-dark text-text dark:text-text-dark;
}
.card-spinner {
  position: absolute;
  left: calc(50% - 3rem);
  top: calc(50% - 3rem);
  animation: spin 2s linear infinite;
  @apply fill-primary dark:fill-primary-dark text-text dark:text-text-dark;
}

.col-c {
  @apply flex flex-col items-center justify-center gap-2;
}

.row-c-around,
.row-c {
  @apply flex items-center gap-2;
}

.row-c-around {
  @apply justify-around;
}

@media screen and (max-width: 420px) {
  .big-gap-sm {
    @apply gap-12;
    min-width: 85%;
  }
}