/* Container for Vis sphere navigation */
nav.side-nav {
  @apply fixed left-0 z-10 flex flex-col justify-between h-full bg-gray-500;
  height: auto;
  top: 5rem;
  bottom: auto;
  gap: 0.5rem;
  background: transparent;
  border-radius: 1rem;
  border-bottom: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

/* Restyled AntMenu for Vis sphere navigation */
nav.side-nav ul[role="menu"] {
  border-radius: 12px;
  padding-bottom: 16px;
  padding-top: 56px;
  
  @apply dark:bg-surface-overlay-dark text-title;
  border-bottom-left-radius: 0px;
  border-top-left-radius: 0px;
}
nav.side-nav:not(.off-screen):not(.expanded) ul[role="menu"] {
  width: 4rem !important;
}
/* Side nav divider */
nav.side-nav ul[role="menu"]::before {
  content: "";
  width: 32px;
  position: absolute;
  top: 55px;
  left: 16px;
  border-top: 1px solid rgba(255,255,255,0.2);
}

/* Button to show/hide the nav */
nav.side-nav.off-screen {
  left: -4.5rem;
  top: 4rem;
}
nav.side-nav .off-screen-toggle-button {
  display: block;
  position: absolute;
  left: calc(50% - 20px);
  top: .7rem;
}

nav.side-nav.off-screen .off-screen-toggle-button button {
  transform: scaleX(1);
  transition: all .25s ease-in;
}
nav.side-nav .off-screen-toggle-button button {
  transition: all .25s ease-in;
  transform: scaleX(-1);
}

nav.side-nav.off-screen .off-screen-toggle-button {
  transition: transform 1s ease-in;
  position: relative;
  left: 100%;
  top: -7.5rem !important;
  display: block;
  width: 36px;
  height: 60px;
  border-radius: 12px;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    background: rgb(58, 58, 58);
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    display: flex;
  justify-content: center;
  align-items: center;
}

.off-screen-toggle-button button {
  @apply w-full h-full cursor-pointer;
}

.logo-div {
  height: 3rem;
  overflow: hidden;
  padding-top: 0.75rem;
  background: transparent;
}

.logo-div:hover {
  background: radial-gradient(circle, #222222, transparent, transparent);
  background-position-y: 2px;
  background-position-x: -1px;
}

/* Sphere context nav layout */
.sphere-context-actions {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.side-nav.expanded+* {
  filter: opacity(0.1);
  pointer-events: none;
}

.side-nav.expanded>.ant-menu-root:first-child {
  display: grid;
  gap: 0.75rem;
  position: relative;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  margin-bottom: -0.5rem;
  min-height: 4rem;
}

.side-nav.expanded>.ant-menu-root:first-child .ant-menu-item {
  width: 48px !important;
  height: 48px !important;
  display: grid;
  place-items: center;
  place-content: center;
}

.side-nav>.ant-menu-root:first-child .ant-menu-item-disabled:first-child {
  /* Allow click and block with tooltip */
  pointer-events: all;
}

.side-nav.expanded .ant-menu-item:first-child {
  padding-left: 22px !important;
}
.ant-menu-item:first-child {
  @apply flex justify-center items-center pt-2 !important;
  padding-inline: 0 !important;
}

.side-nav.expanded .ant-menu-item:not(.ant-menu-item:first-child) {
  padding-left: 22px !important;
  position: initial;
  opacity: 0.8;
  padding-inline: 0 !important;
}

.side-nav.expanded .ant-menu-item:not(.ant-menu-item:first-child):hover,
.side-nav>.ant-menu-root .ant-menu-item-selected:not(.ant-menu-item:first-child):has(> img.selected) {
  opacity: 1;
}

.side-nav:not(.expanded) > .ant-menu-root .ant-menu-item:not(.ant-menu-item:first-child),
.side-nav:not(.expanded) > .ant-menu-root .ant-menu-item:not(.ant-menu-item:first-child) img {
  max-width: 32px !important;
  height: 100% !important;
}
.side-nav:not(.expanded) > .ant-menu-root .ant-menu-item:not(.ant-menu-item:first-child) {
  margin: 0 auto;
  margin-top: .5rem;
}

.side-nav.expanded>.ant-menu-root:first-child::before,
.side-nav.expanded>.ant-menu-root:first-child::after,
.side-nav.expanded>.ant-menu-root .ant-menu-item:first-child span:last-child,
.side-nav.expanded>.ant-menu-root .ant-menu-item:not(.ant-menu-item-selected) span,
.side-nav.expanded>.ant-menu-root .ant-menu-item:not(.ant-menu-item-selected):not(.ant-menu:first-child) span:last-child {
  display: none;
}

.side-nav.expanded>.ant-menu-root .ant-menu-item:not(.ant-menu-item-selected):first-child span {
  display: grid;
  place-content: center;
}

.side-nav.expanded>.ant-menu-root .ant-menu-item-selected span.ant-menu-title-content {
  position: absolute;
  top: -2rem;
  text-align: center;
  left: 1rem;
  right: 1rem;
  margin: 0 !important;
  font-size: 1.2rem;
}

.side-nav.expanded>.ant-menu-root .ant-menu-item:first-child {
  position: absolute;
  bottom: calc(50% - 22px);
  left: calc(50% - 28px);
}

.side-nav.expanded>.ant-menu-root:first-child {
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  justify-items: center;
  align-items: center;
  padding: 0.5rem 0 1rem 0;
}

.ant-menu-item-icon,
.ant-menu-item-icon.selected,
.ant-menu-submenu-title img {
  object-fit: cover;
  margin-left: -0.125rem;
  border-radius: 1.05rem;
}
.ant-menu-item-icon {
  height: 32px !important;
  width: 32px !important;
  margin-top: .5rem;
}

.side-nav:not(.expanded)>.ant-menu-root .ant-menu-item:not(.ant-menu-item:first-child) {
  display: grid;
  place-content: center;
}

/* Vertical collapse button */
.toggle-expanded-menu {
  @apply text-title h-10 text-sm bg-transparent border-0;
  width: 64px;
  margin-left: 1px;
  border-radius: 2rem;
}

.toggle-expanded-menu span[role="img"] {
  transform: rotate(-45deg) scale(1.25);
}

.toggle-expanded-menu span[role="img"].collapsed {
  transform: rotate(45deg) scale(2);
}

.toggle-expanded-menu:focus {
  @apply ring-0 outline-0;
}

.toggle-expanded-menu:hover {
  border-color: rgba(80, 227, 194, 0.9) !important;
  @apply text-title bg-gray-400;
  border: 1px solid rgba(80, 227, 194, 0.9);
}

.page-header {
  @apply text-title bg-gradient-to-b from-secondary to-secondary flex items-center justify-around hidden h-12 py-2 text-base text-center rounded-lg;

  font-family: "Nunito", Arial, sans-serif;
  line-height: 2.2em;
  font-weight: 400;

  outline: 2px solid rgba(107, 125, 127, 0.25);
  border-bottom: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.page-header h1 {
  @apply text-lg;
}

.main-actions-menu {
  @apply flex flex-col items-center gap-2;
  border-radius: 1rem;
}

.sphere-context-actions {
  @apply bg-primary-500 px-2 py-1;
  border-top: 1px solid rgba(219, 228, 226, 1);
  border-bottom-left-radius: 1.125rem;
  border-bottom-right-radius: 1.125rem;
}

ul[role="menu"] li:hover span {
  @apply dark:text-accent-dark;
}

ul[role="menu"] .ant-menu-submenu-selected>.ant-menu-submenu-title {
  border: 3px solid rgba(80, 227, 194, 0.8);
  border-radius: 1.15rem;
}

.ant-menu-item[role="menuitem"] img.ant-menu-item-icon.selected {
  border: 2px solid rgba(80, 227, 194, 0.8) !important;
  border-radius: 2.15rem;
}

.layout.spheres li[role="menuitem"]>button {
  justify-content: space-between !important;
  padding: 0.5rem !important;
  display: flex;
  width: 8rem;
  flex-direction: row-reverse;
}

.layout.spheres li[role="menuitem"]>button svg[role="img"] {
  width: 2rem !important;
  margin-right: -0.5rem !important;
  min-height: initial !important;
}

.layout.spheres li[role="menuitem"]>button:hover {
  @apply text-secondary;
}

.orbit-actions-crud li>button>span {
  @apply flex gap-2;
  width: 100%;
  justify-content: space-around;
}

.orbit-actions-crud li:first-child {
  @apply mb-1;
}

.orbit-actions-crud li>button {
  @apply rounded-lg !important;
}

.ant-menu-submenu.ant-menu-submenu-vertical {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}

.ant-menu span[role="img"] {
  /* icon */
  font-size: 1.25rem !important;
  max-height: 40px;
  color: rgba(80, 227, 194, 0.8) !important;
  margin-left: -0.25rem !important;
}

.ant-menu-item:hover span[role="img"] {
  color: rgba(80, 227, 194, 1) !important;
}

.ant-menu .ant-menu-item-selected span[role="img"] {
  box-shadow: initial !important;
}

nav>.ant-menu:first-child .ant-menu-item:last-child {
  margin-top: 0.25rem;
}

.ant-menu-item {
  border-radius: 0.5rem !important;
}
.ant-menu-item > * {
  height: 32px !important;
  width: 32px !important;
}

.ant-menu-item:active {
  border-radius: 1.25rem !important;
  @apply bg-secondary-500 text-white;
}

.ant-menu-item:hover {
  color: rgba(80, 227, 194, 1) !important;
}

/* Theme toggle button */
button[data-testid="dark-theme-toggle"]:focus {
  @apply ring-0;
}

button[data-testid="dark-theme-toggle"]:hover {
  border-color: rgba(80, 227, 194, 0.9) !important;
  background-color: #fefefe;
  color: rgba(80, 227, 194, 0.8) !important;
}

button[data-testid="dark-theme-toggle"] svg {
  margin-left: 0.125rem !important;
}

.ant-tooltip-inner,
.ant-tooltip-arrow::before {
  @apply text-white;
  background: rgb(17, 24, 39);
}

/* Active button states */
.ant-menu-item-active:active,
button[data-testid="dark-themetheme-toggle"]:active {
  background: rgba(80, 227, 194, 0.8) !important;
}

button[data-testid="dark-themetheme-toggle"]:active,
.toggle-expanded-menu:active span {
  @apply dark:text-accent-dark;
}

.toggle-expanded-menu:active,
.ant-menu-item-active:active span,
.ant-menu-item-active:active span[role="img"] {
  color: rgba(36, 36, 36, 1) !important;
}

/* Tooltips */

.ant-tooltip-inner {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-size: 0.875rem;

  line-height: 1.25rem;
  font-weight: 500;
  transition-property: opacity;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms;
  border-radius: 0.5rem;
  box-shadow:
    rgba(0, 0, 0, 0) 0px 0px 0px 0px,
    rgba(0, 0, 0, 0) 0px 0px 0px 0px,
    rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
}

/* Submenus (deprecated */
.ant-menu-submenu-title[role="menuitem"] {
  height: 60px !important;
  border-radius: 1.75rem;
  margin: 0 !important;
  padding: 0 !important;
  /* transition: .5s all ease-in; */
  width: 3rem;
}

.ant-menu-submenu-popup {
  background-color: #222 !important;
}

.ant-menu-submenu-popup .ant-menu {
  background: linear-gradient(-90deg,
      #6b7d7f 0%,
      rgba(0, 212, 255, 0) 100%) !important;
}

.ant-menu-submenu-popup .ant-menu .ant-menu-title-content,
.ant-menu-item-group-title {
  color: #fefefe !important;
}

.ant-menu-submenu-popup:hover .ant-menu-item-group,
.ant-menu-item-group-title:hover {
  background-color: rgba(54, 25, 91, 0.25) !important;
  color: white !important;
  cursor: pointer;
}

/* Menu items */
.ant-menu-item-selected:has(> img.selected) {
  border-radius: 2rem !important;
}

.side-nav>.ant-menu-root .ant-menu-item-selected:not(.ant-menu-item:first-child):has(> img.selected) {
  background: rgba(80, 227, 194, 0.8) !important;
}

.ant-menu-item span[role="img"] {
  /* icon selected */
  color: rgba(80, 227, 194, 0.9);
}

.anticon {
  @apply dark:text-primary-500 !important;
}

.anticon-plus-circle.grayed svg {
  @apply text-gray-300 !important;
}

.side-nav .ant-menu-title-content {
  margin-top: 0.25rem;
  @apply text-white;
}

.side-nav:not(.expanded)>.ant-menu-root .ant-menu-title-content {
  display: none;
}

.side-nav.expanded .ant-menu-item {
  overflow: initial;
}

.ant-menu-item-selected {
  background: transparent !important;
}

.ant-menu-item-selected .ant-menu-title-content {
  color: #fefefe !important;
}

/* Expanded Nav */

#tooltip-left {
  @apply tooltip dark:bg-gray-700 absolute z-10 inline-block px-3 py-2 text-sm text-white transition-opacity duration-300 bg-gray-900 rounded-lg shadow-sm;
  left: 105%;
  width: 12rem;
}

#tooltip-left:before {
  content: "";
  display: block;
  width: 0;
  height: 0;
  position: absolute;

  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  border-right: 8px solid rgb(17 24 39 / 1);
  left: -8px;
  top: 12px;
}

#tooltip-left.invisible:before,
.side-nav:not(.expanded) #tooltip-left:before {
  display: none;
}

ul.ant-menu-inline .ant-menu-submenu-title[role="menuitem"] img {
  border-radius: 1.35rem;
  object-fit: scale-down;
}

ul.ant-menu-inline .ant-menu-submenu-title[role="menuitem"] span {
  color: #dadce0;
}

ul.ant-menu-inline .ant-menu-submenu-title[role="menuitem"] .ant-menu-submenu-arrow {
  right: 1rem;
  left: initial;
  @apply text-primary;
}

ul.ant-menu-inline .ant-menu-submenu-title[role="menuitem"]:active {
  @apply bg-secondary;
}

ul.ant-menu-inline .ant-menu-submenu-title[role="menuitem"] {
  overflow: initial;
  width: initial;
}

.danger-zone,
.feedback-link,
.cache-settings,
.check-updates {
  @apply flex items-center justify-between gap-8 pl-4 pr-2 mb-4 border-2;
  border-radius: 1.5rem;
}

.danger-zone {
  @apply border-danger;
}

@media screen and (min-width: 440px) {
  .page-header h1 {
    @apply text-2xl;
  }

  .page-header {
    display: block;
  }
}

@media screen and (min-width: 768px) {
  .page-header h1 {
    @apply text-3xl;
  }
}

@media screen and (min-width: 1200px) {
  .page-header h1 {
    @apply text-4xl;
  }
}

/* Tree Vis icon */
.tree-vis-icon,
.cls-2 {
  fill: currentColor;
  transform: scale(1.5);
}

.cls-2 {
  stroke: currentColor;
  stroke-miterlimit: 10;
  stroke-width: 6px;
}

.btn-sq {
  height: 3rem;
  max-width: 3rem;
}