

g.nodes {
  cursor: pointer;
  pointer-events: all;
}

.the-node.active {
  stroke: #6B7D7F;
  stroke-width: 4px;
}

.instruct-legend .cell:nth-child(3) circle,
.legend-svg .cell:nth-child(3) circle {
  fill: #edd837;
  stroke: #93cc96;
  stroke-width: 8px;
}

.expand-arrow {
  stroke: #f8f8f8;
  stroke-width: 2px;
}

.instruct-legend .cell,
.legend-svg .cell {
  position: relative;
  pointer-events: none;
}

.controls-div {
  height: 15vh;
  background-color: #dddddd;
  opacity: 0.4;
  z-index: 10;
}

.help-svg,
.legend-svg {
  z-index: 17;
}
.legend-svg {
  z-index: 19;
}

.swipe-zone {
  color: #ddd;
  font-weight: 900;
}

svg path.link {
  stroke: #fefefe;
  fill: none;
}

g.tooltip rect {
  fill: #f8f8f8;
  stroke: #1a140e !important;
  stroke-width: 1px;
}

g.tooltip text {
  fill: #FDFEFE !important;
  stroke: #FDFEFE !important;
  stroke-width: 1px;
}

body[class^="scroll"] .legend-svg,
body[class^="scroll"] .controls-div {
  opacity: 0;
  visibility: none;
  transition: opacity 0.2s ease-out;
}

.habit-label-dash-button text {
  fill: #f8f8f8 !important;
  stroke-width: 1px;
}

.habit-label-dash-button {
  fill: #1a140e !important;
  stroke: #f8f8f8 !important;
  stroke-width: 1px;
}

g.tooltip rect:first-of-type {
  fill: #6B7D7F !important;
}

.tooltip-inner .content {
  padding: 1rem 1.5rem  ;
  color: #fefefe;
  background: linear-gradient(180deg, #576468 0%, rgba(0,212,255,0) 11rem);
  border-radius: 32px;
  border-top-right-radius: 0;
  border-bottom-left-radius: 0;
  opacity: 1;
  margin-top: 10px;
} 

.buttons, .tooltip-inner {
  cursor: initial;
}

.buttons button:hover {
  outline: 8px solid rgba(255, 23, 132, 0.7);
}

.tooltip-action-button {
  border-radius: 100%;
  background-repeat: no-repeat;
  height: 6rem;
  width: 6rem;
  background-size: cover !important;
}
.higher-button {
  background: url(assets/higher-scale-icon.svg);
}
.checkbox-button {
  background: url(assets/checkbox-checked.svg);
  background-repeat: no-repeat !important;
}
.lower-button {
  background: url(assets/lower-scale-icon.svg);
  background-position: center !important;
  background-repeat: no-repeat !important;
}

.tooltip-actions {
  position: absolute;
  right: -9rem;
  width: 8rem;
  height: 16rem;
  top: -6.85rem;
  padding: 0.5rem;
}
.tooltip-actions .buttons {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.tooltip-inner {
  background: url(assets/line-corner-vector-2.svg);
  background-position: top right;
  background-size: contain;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  padding-top: 50%;
  padding-left: 4%;padding-right: 3px;
  font-size: 2rem;
  margin-left: 0rem;
}