

g.nodes {
  cursor: pointer;
  pointer-events: all;
}

.the-node.active {
  stroke: #6B7D7F;
  stroke-width: 4px;
}

.node-subgroup {
  transform: scale(3) translate(-78px, -61px);
  /* filter: brightness(1.5); */
}

.node-subgroup > * {
  filter: saturate(0.45)
}

.node-subgroup > *:first-child {
  filter: initial;
  fill: #3c3c3c;
  opacity: 1;
}
.node-subgroup.checked > *:first-child {
  color: rgba(11,254,184, 1);
}

.instruct-legend .cell:nth-child(3) circle,
.legend-svg .cell:nth-child(3) circle {
  fill: #edd837;
  stroke: #93cc96;
  stroke-width: 8px;
}

.expand-arrow {
  stroke: #f8f8f8;
  stroke-width: 2px;
}

.instruct-legend .cell,
.legend-svg .cell {
  position: relative;
  pointer-events: none;
}

.controls-div {
  height: 15vh;
  background-color: #dddddd;
  opacity: 0.4;
  z-index: 10;
}

.help-svg,
.legend-svg {
  z-index: 17;
}
.legend-svg {
  z-index: 19;
}

.swipe-zone {
  color: #ddd;
  font-weight: 900;
}

svg path.link {
  stroke: #fefefe;
  fill: none;
}

g.tooltip rect {
  fill: #f8f8f8;
  stroke: #1a140e !important;
  stroke-width: 1px;
}

g.tooltip text {
  fill: #FDFEFE !important;
  stroke: #FDFEFE !important;
  stroke-width: 1px;
}

body[class^="scroll"] .legend-svg,
body[class^="scroll"] .controls-div {
  opacity: 0;
  visibility: none;
  transition: opacity 0.2s ease-out;
}

.habit-label-dash-button text {
  fill: #f8f8f8 !important;
  stroke-width: 1px;
}

.habit-label-dash-button {
  fill: #1a140e !important;
  stroke: #f8f8f8 !important;
  stroke-width: 1px;
}

g.tooltip rect:first-of-type {
  fill: #6B7D7F !important;
}

.tooltip-inner .content {
  padding: 1rem 1.5rem  ;
  color: rgba(219,228,226, 1);
  background: linear-gradient(180deg, #576468 0%, rgba(0,212,255,0) 11rem);
  border-radius: 32px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  opacity: 1;
  margin-top: 10px;
} 

.tooltip-inner .content span.title {
  text-transform: uppercase;
  @apply font-sans font-semibold tracking-wider;
}

.tooltip-inner .content p {
  @apply font-medium tracking-normal mb-2;
}

.buttons, .tooltip-inner {
  cursor: initial;
}

.buttons button:hover {
  outline: 8px solid rgb(54, 175, 152);
}

.tooltip-action-button {
  border-radius: 100%;
  background-repeat: no-repeat;
  height: 6rem;
  width: 6rem;
  background-size: cover !important;
}

.tooltip-action-button.hide {
  pointer-events: none;
  cursor: not-allowed;
  opacity: 0.25;
}

.higher-button {
  background: url(assets/higher-scale-icon.svg);
}

.checkbox-button {
  background: url(assets/checkbox-empty.svg);
  background-repeat: no-repeat !important;
}

.tooltip-action-button button:focus, .tooltip-action-button button:focus-visible {
  outline: 6px solid #91caff
}
.checkbox-button.checked {
  background: url(assets/checkbox-checked.svg);
}

.lower-button {
  background: url(assets/lower-scale-icon.svg);
  background-position: center !important;
  background-repeat: no-repeat !important;
}

.tooltip-actions {
  position: absolute;
  right: -9rem;
  width: 8rem;
  height: 16rem;
  top: -7.85rem;
  padding: 0.5rem;
}
.tooltip-actions .buttons {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.tooltip-inner {
  background: url(assets/line-corner-vector.svg);
  background-position: right;
  background-position-y: .5rem;
  background-size: contain;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  padding-top: calc(50% + .5rem);
  padding-left: 3%;
  padding-right: 3px;
  font-size: 2rem;
  margin-left: 0rem;
}