.orbits-list, .spheres-list {
  @apply flex flex-col items-center gap-2;
}

.list-sort-filter {
  @apply bg-off-white rounded-lg -mt-2;
  font-size: 2rem;
  padding: 0.25rem .5rem;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.sort-filter-icon {

}
.sort-filter-label {
  font-size: 1rem;
  text-align: center;
  width: 100%;
  padding-left: 56px;
}

.sort-filter-icon:hover {
  @apply text-info-hover-bg;
  transform: scale(1.2);
  cursor: pointer;
}

@media screen and (min-width: 640px) {
  .orbits-list, .spheres-list {
    @apply grid grid-cols-2 gap-2;
  }
  .orbit-card, .orbit-card main, .sphere-card, .sphere-card main {
   height: 100%; 
  }
}
@media screen and (min-width: 960px) {
  .orbits-list, .spheres-list {
    @apply grid-cols-3;
  }
}
@media screen and (min-width: 1200px) {
  .orbits-list, .spheres-list {
    @apply grid-cols-4;
  }
}