.card-h1 {
  @apply 
    uppercase
    text-[#3E3F48]
    font-medium
    font-heading
    text-base
    py-1
    pl-2
    leading-5
    tracking-tight
    text-off-white;
}

.orbit-card .card-h1 {
  text-transform: initial;
}

.card-copy {
  @apply
    text-white
    leading-normal
    text-sm
    max-w-xl
    text-center
    p-2;
}

.card-header {
  @apply flex rounded-t-lg items-center justify-around;
}
.card-header.orbit-header {
  @apply bg-nav-bg;
}

.card-header.sphere-header {
  @apply border-t-4 border-neutral-transparent bg-card-bg-light;
}

.list-header .card-body-bg {
  @apply bg-card-bg;
}

.card-body-bg {
  padding: 0.5rem;
  gap: 0.5rem;
  justify-content: flex-start !important;
  border-radius: .5rem;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  @apply bg-gradient-to-b from-card-bg to-transparent;
}
.list-header .card-header {
  border: 2px dashed white;
  @apply border-off-white bg-nav-bg;
}

.card-copy {
  @apply font-sans;
  background: rgba(0,0,0,0.15);
  border-radius: .75rem;
  margin-bottom: .5rem;
}

.orbit-timeframe {
  @apply font-sans text-white;
}

.orbit-card, .sphere-card {
  max-width: 540px;
}

.sphere-card {
  @apply flex flex-col rounded-2xl self-center rounded-xl;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}

.mini-vis {
  max-width: 50%;
}

@media screen and (min-width: 420px) {
  .card-h1 {
    @apply py-4 text-xl;
  }
  .card-copy {
    @apply
      text-lg
  }
  .card-body-bg {
    @apply p-4 gap-4;
  }

  .sphere-card .sphere-description + div {
    gap: 0;
    margin-left: 2rem;
  }
}