.orbit-vis {
  border-radius: 1rem;
}

label {
  @apply font-heading uppercase text-xs text-white;
}

div[role="progressbar"] {
  @apply pt-2;
}

div[role="progressbar"] > div > div {
  @apply bg-link;
}
div[role="progressbar"] > div.atom > div {
  margin-left: 0;
}
div[role="progressbar"] > div.sub > div {
  margin-left: 28%;
}
div[role="progressbar"] > div.astro > div {
  margin-left: 65%;
}

.sphere-pie {
  width: 100%;
}
.sphere-pie svg {
  overflow: inherit;
}

.sphere-pie .pie {
  padding-top: 1.5rem;
}

.sphere-pie-label {
  position: relative;
  left: calc(50% - 2rem);
}
.apexcharts-pie-area {
  transform: rotate(90deg) translate(-10%, -40%) !important;
}
.sphere-pie .apexcharts-legend {
  position: relative !important;
  top: 1rem !important;
  left: 6rem !important;
  right: initial !important;
  width: fit-content !important;
  height: fit-content !important;
  padding-top: 1rem !important;
}
.sphere-pie .apexcharts-legend > div {
  gap: 0.5rem;
  line-height: initial;
}
.sphere-pie .apexcharts-legend > div .apexcharts-legend-marker {
  width: 1rem !important;
  height: 1rem !important;
}
.sphere-pie .apexcharts-legend .apexcharts-legend-text {
  @apply font-heading text-xs text-white !important;
  padding-left: 1rem !important;
}

/* Flowbite modal overrides */
/* Header */
[data-testid="modal-overlay"] > div > div > div:first-child {
  padding: 1rem !important;
  display: flex;
  align-items: center;
}

[data-testid="modal-overlay"] > div,
[data-testid="modal-overlay"] > div > div > div:last-child {
  padding: 0 !important;
}

@media screen and (min-width: 440px) {
  .sphere-pie svg {
    @apply -ml-2;
  }

  .sphere-pie-label {
    padding-left: 50%;
  }

  .sphere-pie .pie {
    min-width: initial;
  }
  .sphere-pie .pie {
    min-height: 18rem;
  }

  /* Flowbite modal overrides */
  [data-testid="modal-overlay"] > div {
    height: 90vh;
    @apply p-4;
  }
  [data-testid="modal-overlay"] > div > div {
    height: 100%;
    overflow: hidden;
  }
  [data-testid="modal-overlay"] > div > div > div:last-child {
    height: 100%;
  }
}
