.orbit-vis {
  border: 2px dashed #E6E8E6;
  border-radius: 1rem;
  padding: 0.5rem;
  background: rgba(0,0,0,0.07);
}

label {
  @apply font-heading uppercase text-xs text-off-white;
}

.sphere-pie-label {    
  padding-left: 1rem;
  margin-top: -1.5rem;
}

div[role="progressbar"] > div > div {
  @apply bg-primary;
}
div[role="progressbar"] > div.sub > div {
  margin-left: 0;
}
div[role="progressbar"] > div.atom > div {
  margin-left: 23%;
}
div[role="progressbar"] > div.astro > div {
  margin-left: 58%;
}

.sphere-pie svg {
  @apply -ml-10 mt-1 sm:ml-2;
  overflow: inherit;
}

@media screen and (min-width: 420px) {
  .sphere-pie svg {
    @apply -ml-2;
  }

  .sphere-pie-label {    
    padding-left: 3rem;
    margin-top: -1.5rem;
  }
}
@media screen and (min-width: 1280px) {
  .orbit-vis {
    max-width: 80%;
  }
}