.orbit-vis {
  border-radius: 1rem;
}

label {
  @apply font-heading uppercase text-xs text-white;
}

.sphere-pie-label {    
  /* padding-left: 1rem;
  margin-top: -1.5rem; */
}

div[role="progressbar"] {
  @apply pt-2;
}

div[role="progressbar"] > div > div {
  @apply bg-link;
}
div[role="progressbar"] > div.sub > div {
  margin-left: 0;
}
div[role="progressbar"] > div.atom > div {
  margin-left: 23%;
}
div[role="progressbar"] > div.astro > div {
  margin-left: 58%;
}

.sphere-pie svg {
  @apply -ml-10 mt-1 sm:ml-2;
  overflow: inherit;
}

.sphere-pie .pie {
  padding-top: 1.5rem;
  padding-bottom: 3.5rem;
  padding-left: 50%;
}

.apexcharts-pie-area {
  transform: rotate(90deg) translate(-10%,-40%) !important;
}

/* Flowbite modal overrides */
/* Header */
[data-testid="modal-overlay"] > div > div > div:first-child {
  padding: 1rem !important;
  display: flex;
  align-items: center;
}

[data-testid="modal-overlay"] > div,
[data-testid="modal-overlay"] > div > div > div:last-child {
  padding: 0 !important;
}

@media screen and (min-width: 420px) {
  .sphere-pie svg {
    @apply -ml-2;
  }

  .sphere-pie .pie {
    padding-left: 23%;
  }

  .sphere-pie-label {    
    padding-left: 50%;
  }

  /* Flowbite modal overrides */
  [data-testid="modal-overlay"] > div {
    height: 90vh;
    @apply p-4;
    
  }
  [data-testid="modal-overlay"] > div > div {
    height: 100%;
    overflow: hidden;
  }
  [data-testid="modal-overlay"] > div > div > div:last-child {
    height: 100%;
  }

}
@media screen and (min-width: 1280px) {
  .orbit-vis {
    max-width: 80%;
  }
}