.form-title {
  @apply md:text-xl md:mb-2 md:h-8 h-6 my-0 mb-1 text-lg leading-loose tracking-wide;
  text-align: left;
  font-family: "Open Sans";
  font-weight: 600;
}

form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
  @apply dark:bg-surface-elevated-dark rounded-2xl p-2 py-4;
}

.scene {
  position: absolute;
  bottom: 0.5rem;
  right: 0;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  width: 75%;
  object-fit: cover;
  opacity: 0.45;
  z-index: -1;
}

.field {
  flex-direction: column;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}
.form-field {
  flex-direction: column;
  display: flex;
  gap: 0.5rem;
  align-items: center;
  width: 100%;
}
.form-field > * {
  width: 100%;
}

.field.row {
  flex-direction: row;
  flex: 1 1 auto;
  justify-content: space-between;
}

.field label {
  @apply flex text-sm;
}

.field textarea,
.field > label + div {
  flex: 1;
}

.flex-1 {
  flex: 1;
  align-items: center;
  justify-content: center;
}

/* Date pickers */

.ant-picker {
  background: #1e293b !important;
  border: 2px solid #64748b !important;
  min-width: 8rem !important;
}
.ant-picker .ant-picker-input > input[disabled],
.ant-picker .ant-picker-input > input[disabled]::placeholder {
  padding: 0 !important;
  background: rgba(107, 125, 127, 0.25) !important;
  color: #475569 !important;
  cursor: not-allowed;
}

.ant-picker:active {
  background: rgb(51 65 85) !important;
}
.ant-picker:hover {
  background: #475569 !important;
}
.ant-picker:focus {
  border-color: transparent !important;
  outline-offset: 2px !important;
  outline: 2px solid #1e293b !important;
}
.ant-picker-input .ant-picker-clear {
  background: transparent !important;
  opacity: 1 !important;
  color: rgba(189, 16, 224, 0.9) !important;
}
.ant-picker-input > input {
  color: #fefefe !important;
}
.ant-picker-input > input::placeholder {
  padding: 1rem !important;
  font-size: 1rem !important;
  font-weight: 400 !important;
  color: #fefefe !important;
}

.ant-picker-suffix {
  display: none !important;
}
/* Image uploader */

.ant-upload.ant-upload-select {
  border: 2px dashed rgba(255, 225, 225, 1) !important;
  @apply dark:bg-surface-dark border-primary;
  color: #fefefe;
  border-radius: 100%;
  overflow: auto;
}
.ant-upload.ant-upload-select:hover {
  border: 2px solid transparent;
  @apply dark:bg-surface-dark border-primary;
}

.ant-upload-wrapper.avatar-uploader {
  justify-content: center;
  display: flex;
  align-items: center;
}

.field.sphere-image label {
  align-items: flex-start;
}

@media screen and (min-width: 440px) {
  form {
    gap: 1.25rem;
    @apply py-4;
  }
  .field {
    flex-wrap: nowrap;
    @apply flex-row;
  }
  .form-field {
    width: 85%;
  }
  .field label {
    @apply flex mb-6 text-sm;
    flex-basis: 7rem;
  }

  .scene {
    position: absolute;
    bottom: 0;
    right: 0;
    /* width: 80%; */
  }
}
@media screen and (min-width: 768px) {
  .scene {
    width: 100%;
  }
}
@media screen and (min-width: 768px) {
  .scene {
    width: 100%;
  }
  form {
    min-width: 30rem;
    max-width: 80vw;
  }
}
